<footer>
  <small>&copy; 2019 - {{ project.currentYear }}</small>

  <ul>
    <li><a href="/legal">legal</a></li>
    <li><a href="https://twitter.com/mmatuzo" rel="noopener">twitter</a></li>
  </ul>

  <a href="#top" class="js-scroll-top">
    Back to top
  </a>
</footer>
