<footer>
  <a href="#top" class="back-to-top js-scroll-top">
    <span class="u-vh">Back to</span> top
  </a>

  <small>&copy; 2019 - {{ matuzo.currentYear }}</small>

  <ul>
    <li><a href="/legal">legal</a></li>
    <li><a rel="me" href="https://mastodon.social/@matuzo" rel="noopener">mastodon</a></li>
  </ul>
</footer>
