<footer class="site__footer">
  <nav class="footer horizontal">
    <small>&copy; 2019 - 2020</small>

    <ul class="list-reset horizontal footer-nav">
      <li class="footer-nav__item"><a href="/legal" class="footer__link">legal</a></li>
      <li class="footer-nav__item"><a href="https://twitter.com/mmatuzo" rel="noopener" class="footer__link">twitter</a></li>
    </ul>
  </nav>

  <a href="#top" class="btn btn--small btn--highlight js-scroll-top">
    <span class="btn__inner">
      <span class="visually-hidden">Back to</span> top
    </span>
  </a>

</footer>
