<footer class="site__footer">
  <nav class="footer horizontal">
    <small>&copy; 2019</small>

    <ul class="list-reset horizontal footer-nav">
      <li class="footer-nav__item"><a href="/legal" class="footer__link">legal</a></li>
      <li class="footer-nav__item"><a href="https://twitter.com/mmatuzo" rel="noopener" class="footer__link">twitter</a></li>
    </ul>
  </nav>

  {% set text = "Menu" %}
  {% set size = "small" %}
  {% set style = "highlight" %}
  {% set link = "#top" %}
  {% set classes = "js-scroll-top" %}
  {% include 'components/button.njk' %}
</footer>
