<header>
  <a href="#content">Skip to content</a>

  <nav>
    <ul>
      {%- for nav in collections.nav | reverse -%}
        <li>
          <a {% if nav.url == page.url or (nav.url != '/' and nav.url in page.url) %} aria-current="page"{% endif %} href="{{ nav.url | url }}">
            {{ nav.data.navtitle }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>

