<header class="site-header">
  <h1>Manuel Matuzovic</h1>
  {# <h1>{{ title or metadata.title }}</h1> #}

  <a href="#content" class="skip-link">Skip to content</a>

  <nav class="nav-main">
    <ul class="nav-main__list">
      {%- for nav in collections.nav | reverse -%}
        <li>
          <a {% if nav.url == page.url %} aria-current="page"{% endif %} href="{{ nav.url | url }}">
            {{ nav.data.navtitle }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>

