{% for post in posts.slice(0, max) %}

  {% set url = post.data.url or post.url %}

  {% if not post.data.draft %}
    <article class="teaser rich-text">
      <{{level | default('h3') }} class="teaser-heading">
        {% if "til" in post.data.tags %}
          TIL: 
        {% endif %}
        <a href="{{ url }}">
          {{ post.data.title }}
        </a>

      {% if post.data.publication %}
        (off-site)
      {% endif %}
      </{{level | default('h3') }}>

      <time datetime="{{ post.data.date|machineDate }}">
        {{ post.data.date|readableDate }}
      </time>

      {% if post.data.publication %}
        on <a href="{{ publications[post.data.publication].url}}">
        {{ publications[post.data.publication].name}}
      </a>
      {% endif %}

      {% if post.data.overview_teaser or post.data.teaser %}
        {% set teaser = post.data.overview_teaser or post.data.teaser %}
        {{ teaser | md | safe }}
      {% endif %}
    </article>
  {% endif %}
{% endfor %}
