{% for ev in collections.events %}
  {% if event == ev.data.title %}
    <h3 class="gig__heading">
      <a href="{{ ev.data.url }}" rel="noopener" class="gig__heading-link gig__heading-link--{{ gig.data.talk|slug }}">
        {{ ev.data.title }}
      </a>

      <span class="gig__location">
        <span class="u-vh">in</span>
        
        {{ gig.data.city }}

        <span class="gig__flag">
          {% include "icons/" + gig.data.country + ".svg"%}
        </span>
      </span>
    </h3>
  
    <img src="{{ ev.data.logo }}" width="50" alt="" class="gig__logo">
  {% endif %}
{% endfor %}
