{% for gig in collection | reverse %}
  <div class="page-grid__item gig gig--{{ gig.data.talk|slug }}">
    {% set event = gig.data.event %}
    {% include "components/event.njk" %}
  
    {% for talk in collections.talks %}
      {% if gig.data.talk == talk.data.title %}
        <p>{{ gig.data.title }}</p>
      {% endif %}
    {% endfor %}

    {% for talk in collections.talks %}
      {% if gig.data.talk == talk.data.title and talk.templateContent %}
        
        <details class="gig__description">
          <summary>
            Talk description
          </summary>

          {{ talk.templateContent | safe }}

          <ul>
            {% if talk.data.slides %}<li><a href="{{ talk.data.slides }}">Slides</a></li>{% endif %}
            {% if talk.data.video %}<li><a href="{{ talk.data.video }}">Video</a></li>{% endif %}
          </ul>
        </details>
      {% endif %}
    {% endfor %}
    
    <time class="gig__date" datetime="{{ gig.data.date|machineDate }}">{{ gig.data.date|readableDate }}</time>
  </div>
{% endfor %} 
