---
layout: 'layouts/base.njk'
description: I'm a frontend developer from Vienna. I'm specialized in HTML, accessibility, and CSS layout and architecture.
renderData: 
  title: 'Manuel Matuzovic'
  page_classes: 'home'
---
<h1 class="visually-hidden">
  {{ title or metadata.title }}
</h1>

<div class="page__intro page-intro">
  <div class="rich-text"> 
    <p>Hi! <span class="js-random-emoji">✌️</span> I'm a frontend developer from Vienna. I'm specialized in <strong>HTML</strong>, <strong>accessibility</strong>, and <strong>CSS layout and architecture</strong>.</p>
    <p>If you want to get in touch, write me an <a href="mailto:manuel@matuzo.at">email</a> or find me on <a href="https://twitter.com/mmatuzo" rel="noopener">twitter</a>.</p>
  </div>
</div>

<div class="page-block">
  <h2 class="page-block__heading h1">
    Recent blog posts
  </h2>
  
  {% set max = 5 %}
  {% include 'components/blog-posts.njk' %}

  {% set text = "More blog posts" %}
  {% set link = "/blog" %}
  {% include 'components/button.njk' %}
</div>

<script>
  let vh = window.innerHeight * 0.01;
  // Then we set the value in the --vh custom property to the root of the document
  document.documentElement.style.setProperty('--vh', `${vh}px`);
</script>
