.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  position: absolute;
  left: 0;
  top: 0; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.horizontal {
  display: flex; }

* {
  box-sizing: border-box; }

img {
  max-width: 100%; }

.rich-text p {
  margin-top: 0;
  max-width: 60ch; }

.rich-text a {
  font-weight: bold; }
  .rich-text a:link, .rich-text a:visited {
    box-shadow: 0 4px 0 0 currentColor;
    color: #ca3041;
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.47, 0, 0.74, 0.71); }
  .rich-text a:hover {
    box-shadow: 0 2px 0 0 #f23c50;
    color: #36b1bf; }

.rich-text p + .h2 {
  margin-top: 5rem; }

.site {
  --site-padding: 0;
  --header-justify: space-between;
  --header-height: auto;
  --header-separator-margin: 4rem;
  --header-layout: flex;
  --header-padding: 5rem 3rem 4rem;
  --header-text-align: left;
  --body-layout: block;
  --body-width: 64.4rem;
  --body-gap: 2rem 6rem;
  --separator-width: 100%;
  --separator-display: block;
  --content-padding: 0 3rem 4rem;
  --font-size: 1.8rem;
  --logo-margin: 0 4rem 0 0;
  --logo-width: 8rem; }
  @media (min-height: 590px) {
    .site {
      --body-layout: flex;
      --header-height: calc(var(--vh, 1vh) * 50);
      --header-separator-margin: 0; } }
  @media (min-width: 20em) {
    .site {
      --header-justify: space-around; } }
  @media (min-width: 25.625em) {
    .site {
      --logo-width: 10rem;
      --header-separator-margin: 4rem; } }
  @media (min-width: 30em) {
    .site {
      --site-padding: 1.33333rem 0 0;
      --header-height: auto;
      --separator-display: none; } }
  @media (min-width: 48em) {
    .site {
      --font-size: 2.2rem;
      --header-padding: 5rem 0 4rem 5rem;
      --header-layout: block;
      --header-text-align: right;
      --body-layout: grid;
      --body-width: 100%;
      --separator-width: 12rem;
      --content-padding: 4rem 5rem 4rem 0;
      --logo-margin: 0 0 5.332rem 0; } }
  @media (min-width: 64em) {
    .site {
      --header-padding: 8rem 0 4rem 8rem;
      --content-padding: 7rem 8rem 4rem 0;
      --body-gap: 2rem 12rem; } }

.site {
  font-size: 62.5%;
  height: 100%;
  padding: var(--site-padding); }
  .site__body {
    background-color: #efefef;
    color: #1c4e6c;
    display: var(--body-layout);
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-size);
    grid-template-columns: -moz-max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "header content" "footer footer";
    grid-gap: var(--body-gap);
    line-height: 1.6;
    margin: 0 auto;
    max-width: var(--body-width);
    min-height: 100%; }
  .site__square {
    position: fixed;
    z-index: 1000; }
    .site__square--tl {
      left: 1rem;
      top: 1rem; }
    .site__square--tr {
      right: 1rem;
      top: 1rem; }
    .site__square--bl {
      bottom: 1rem;
      left: 1rem; }
    .site__square--br {
      bottom: 1rem;
      right: 1rem; }
  .site__header {
    padding: var(--header-padding);
    align-items: center;
    display: var(--header-layout);
    flex-wrap: wrap;
    justify-content: center;
    justify-content: var(--header-justify);
    grid-area: header;
    text-align: var(--header-text-align); }
    .home .site__header {
      height: 50vh;
      height: var(--header-height);
      padding-bottom: 0; }
  .site__logo {
    flex-basis: var(--logo-width);
    margin: var(--logo-margin); }
  .site__content {
    padding: var(--content-padding); }
  .site__footer {
    align-items: flex-end;
    color: #ca3041;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    grid-area: footer;
    justify-content: space-between;
    line-height: 1;
    margin-top: auto;
    padding: 0 4rem 1rem 6rem; }
  .site__separator {
    display: var(--separator-display);
    margin-top: 4rem;
    max-width: var(--separator-width); }
    .home .site__separator {
      margin-top: var(--header-separator-margin); }

.h1 {
  display: inline-block;
  font-size: 2.6rem;
  line-height: 1.4;
  margin: 0 0 4rem;
  padding: 1rem 2rem;
  position: relative; }
  .h1::after, .h1::before {
    content: "";
    display: block;
    width: 1.33333rem;
    height: 1.33333rem;
    border-style: solid;
    position: absolute; }
  .h1::before {
    border-color: #f23c50;
    border-width: 0 0 1.33333rem 1.33333rem;
    left: 0;
    bottom: 0; }
  .h1::after {
    border-width: 1.33333rem 1.33333rem 0 0;
    border-color: #36b1bf;
    top: 0;
    right: 0; }

.h2 {
  align-items: flex-end;
  display: flex;
  font-size: 2.2rem;
  line-height: 1;
  padding-left: 2rem; }
  .h2::before {
    background: #1c4e6c;
    content: "";
    display: block;
    height: 1.6rem;
    margin-right: 1rem;
    width: 1.6rem; }

.btn {
  background: #f23c50;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.6;
  overflow: hidden;
  padding: 1rem 4rem;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .btn, .btn:link, .btn:visited {
    color: #efefef; }
  .btn--small {
    padding: 0.4rem 2rem; }
  .btn::after {
    content: "";
    bottom: -100%;
    display: block;
    background: #36b1bf;
    height: 50%;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out;
    width: 100%; }
  .btn--highlight {
    background-color: #36b1bf;
    text-shadow: 0 0 3px white; }
    .btn--highlight, .btn--highlight:link, .btn--highlight:visited {
      color: #1c4e6c; }
    .btn--highlight::after {
      background-color: #f23c50; }
  .btn:hover::after, .btn:focus::after {
    bottom: 0; }
  .btn__inner {
    position: relative;
    z-index: 1; }

.footer {
  padding: 0 0 0.3rem; }
  .footer, .footer > * {
    font-size: 1.4rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #ca3041; }
  .footer__link:hover, .footer__link:focus {
    box-shadow: 0 4px 0 0 #f23c50;
    color: #36b1bf; }

.footer-nav__item {
  margin-left: 1rem; }

.nav-main {
  --item-spacing: 0rem 0 1.2rem;
  --fz: 2rem;
  font-size: var(--fz); }
  @media (min-width: 25.625em) {
    .nav-main {
      --item-spacing: 0.2rem 0 2.2rem;
      --fz: 2.2rem; } }
  .nav-main__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold; }
  .nav-main__item {
    line-height: 1;
    margin: var(--item-spacing); }
    .nav-main__item:nth-child(2) {
      margin-bottom: 4.7rem; }
    .nav-main__item:last-child {
      margin-bottom: 0; }
  .nav-main__link {
    transition: all 0.3s; }
    .nav-main__link, .nav-main__link:link, .nav-main__link:visited {
      color: #1c4e6c;
      text-decoration: none; }
    .nav-main__link--active, .nav-main__link--active:link, .nav-main__link--active:visited {
      box-shadow: 0 4px 0 0 #f23c50;
      color: #ca3041; }
    .nav-main__link:hover, .nav-main__link:focus {
      box-shadow: 0 4px 0 0 #f23c50;
      color: #ca3041; }

.logo {
  display: block;
  line-height: 1; }
  .logo__graphic {
    max-width: 10rem;
    width: 100%; }
  .logo__letter {
    fill: #36B1BF; }
    .logo__letter:nth-child(n+7):nth-child(-n+12) {
      stroke: transparent;
      fill: #1c4e6c; }
    .logo:focus .logo__letter,
    .logo:hover .logo__letter {
      fill: #f23c50; }
    .logo__letter:nth-child(1) {
      transition-delay: 40ms; }
    .logo__letter:nth-child(2) {
      transition-delay: 80ms; }
    .logo__letter:nth-child(3) {
      transition-delay: 120ms; }
    .logo__letter:nth-child(4) {
      transition-delay: 160ms; }
    .logo__letter:nth-child(5) {
      transition-delay: 200ms; }
    .logo__letter:nth-child(6) {
      transition-delay: 240ms; }
    .logo__letter:nth-child(7) {
      transition-delay: 280ms; }
    .logo__letter:nth-child(8) {
      transition-delay: 320ms; }
    .logo__letter:nth-child(9) {
      transition-delay: 360ms; }
    .logo__letter:nth-child(10) {
      transition-delay: 400ms; }
    .logo__letter:nth-child(11) {
      transition-delay: 440ms; }
    .logo__letter:nth-child(12) {
      transition-delay: 480ms; }
    .logo__letter:nth-child(13) {
      transition-delay: 520ms; }
    .logo__letter:nth-child(14) {
      transition-delay: 560ms; }
    .logo__letter:nth-child(15) {
      transition-delay: 600ms; }
    .logo__letter:nth-child(16) {
      transition-delay: 640ms; }

.page {
  --intro-height: auto;
  --intro-padding: 4rem 0;
  --intro-alignment: center; }
  @media (min-height: 590px) {
    .page {
      --intro-padding: 0;
      --intro-height: calc(var(--vh, 1vh) * 50); } }
  @media (min-width: 30em) {
    .page {
      --intro-padding: 0.5rem 0 6rem;
      --intro-height: auto; } }
  @media (min-width: 48em) {
    .page {
      --intro-alignment: left; } }

.page {
  position: relative; }
  .page__title {
    margin: 0 0 2rem; }
  .page__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--intro-padding);
    text-align: var(--intro-alignment); }
    .home .page__intro {
      height: 50vh;
      height: var(--intro-height); }

.page-grid {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "heading heading" "content subheading";
  grid-gap: 1rem;
  margin-right: 1rem; }
  .page-grid__heading {
    grid-area: heading;
    justify-self: flex-end;
    margin: 0 !important; }
  .page-grid__subheading {
    align-self: flex-start;
    grid-area: subheading; }
  .page-grid__item {
    grid-column-end: 2; }

.page-block {
  padding-left: 2.66667rem; }
  .page-block__heading {
    margin-left: -2.66667rem; }

.page-intro {
  --canvas-margin: 0 auto 0;
  --intro-font-size: 1.7rem;
  font-size: 1.9rem;
  font-size: var(--intro-font-size); }
  @media (min-width: 25.625em) {
    .page-intro {
      --intro-font-size: 2.1rem;
      --canvas-margin: 0.5rem 1.4rem auto 0;
      --canvas-float: left; } }
  @media (min-width: 48em) {
    .page-intro {
      --intro-font-size: 2.3rem; } }
  .page-intro__canvas {
    display: block;
    margin: 0 auto 2rem;
    margin: var(--canvas-margin);
    float: var(--canvas-float); }

.gig {
  padding: 4rem 2rem 2rem;
  position: relative; }
  .gig[class*="css-a11y-budapest"] {
    background: black;
    color: white; }
  .gig__heading-link[class*="css-a11y-budapest"], .gig__heading-link[class*="css-a11y-budapest"]:link, .gig__heading-link[class*="css-a11y-budapest"]:visited {
    color: white; }
  .gig[class*="the-dark-side-of-the-grid-wke"] {
    background-color: #fff;
    color: #1f4c7a; }
  .gig__heading-link[class*="the-dark-side-of-the-grid-wke"], .gig__heading-link[class*="the-dark-side-of-the-grid-wke"]:link, .gig__heading-link[class*="the-dark-side-of-the-grid-wke"]:visited {
    color: black; }
  .gig[class*="the-dark-side-of-the-grid-atag"] {
    background: #002826;
    color: #94ece9; }
  .gig__heading-link[class*="the-dark-side-of-the-grid-atag"], .gig__heading-link[class*="the-dark-side-of-the-grid-atag"]:link, .gig__heading-link[class*="the-dark-side-of-the-grid-atag"]:visited {
    color: #f70000; }
  .gig[class*="the-dark-side-a11yto"] {
    background: white;
    color: #025b9f; }
  .gig__heading-link[class*="the-dark-side-a11yto"], .gig__heading-link[class*="the-dark-side-a11yto"]:link, .gig__heading-link[class*="the-dark-side-a11yto"]:visited {
    color: #025b9f; }
  .gig[class*="dark-side-frontend-connect"] {
    background: white;
    color: #263e52; }
  .gig__heading-link[class*="dark-side-frontend-connect"], .gig__heading-link[class*="dark-side-frontend-connect"]:link, .gig__heading-link[class*="dark-side-frontend-connect"]:visited {
    color: #00a484; }
  .gig[class*="i-threw-away-frontend-con"] {
    background: #f4d50e;
    color: black; }
  .gig__heading-link[class*="i-threw-away-frontend-con"], .gig__heading-link[class*="i-threw-away-frontend-con"]:link, .gig__heading-link[class*="i-threw-away-frontend-con"]:visited {
    color: black; }
  .gig[class*="webclerks"] {
    background: white;
    color: #e5576d; }
  .gig__heading-link[class*="webclerks"], .gig__heading-link[class*="webclerks"]:link, .gig__heading-link[class*="webclerks"]:visited {
    color: #ff9446; }
  .gig[class*="sae"] {
    background: #282828;
    color: white; }
  .gig__heading-link[class*="sae"], .gig__heading-link[class*="sae"]:link, .gig__heading-link[class*="sae"]:visited {
    color: white; }
  .gig[class*="writing-html-lightning-talk-concat"] {
    background: white;
    color: #222222; }
  .gig__heading-link[class*="writing-html-lightning-talk-concat"], .gig__heading-link[class*="writing-html-lightning-talk-concat"]:link, .gig__heading-link[class*="writing-html-lightning-talk-concat"]:visited {
    color: #e40138; }
  .gig[class*="a11y-ux-wordcamp"] {
    background: #1d66a5;
    color: white; }
  .gig__heading-link[class*="a11y-ux-wordcamp"], .gig__heading-link[class*="a11y-ux-wordcamp"]:link, .gig__heading-link[class*="a11y-ux-wordcamp"]:visited {
    color: white; }
  .gig[class*="focus-codecamp"] {
    background: darkgreen;
    color: white; }
  .gig__heading-link[class*="focus-codecamp"], .gig__heading-link[class*="focus-codecamp"]:link, .gig__heading-link[class*="focus-codecamp"]:visited {
    color: white; }
  .gig[class*="viennajs"] {
    background: #ec0000;
    color: white; }
  .gig__heading-link[class*="viennajs"], .gig__heading-link[class*="viennajs"]:link, .gig__heading-link[class*="viennajs"]:visited {
    color: white; }
  .gig[class*="a11y-ux-piter"] {
    background: white;
    color: #303b40; }
  .gig__heading-link[class*="a11y-ux-piter"], .gig__heading-link[class*="a11y-ux-piter"]:link, .gig__heading-link[class*="a11y-ux-piter"]:visited {
    color: #55359e; }
  .gig[class*="codepen"] {
    background: black;
    color: white; }
  .gig__heading-link[class*="codepen"], .gig__heading-link[class*="codepen"]:link, .gig__heading-link[class*="codepen"]:visited {
    color: #47cf73; }
  .gig[class*="a11y-css-minsk"] {
    background: white;
    color: #302f2f; }
  .gig__heading-link[class*="a11y-css-minsk"], .gig__heading-link[class*="a11y-css-minsk"]:link, .gig__heading-link[class*="a11y-css-minsk"]:visited {
    color: #302f2f; }
  .gig[class*="css-a11y-stahlstadt"] {
    background: #f7df1f;
    color: black; }
  .gig__heading-link[class*="css-a11y-stahlstadt"], .gig__heading-link[class*="css-a11y-stahlstadt"]:link, .gig__heading-link[class*="css-a11y-stahlstadt"]:visited {
    color: black; }
  .gig[class*="css-a11y-stahlstadt"] {
    background: #002132;
    color: white; }
  .gig__heading-link[class*="css-a11y-stahlstadt"], .gig__heading-link[class*="css-a11y-stahlstadt"]:link, .gig__heading-link[class*="css-a11y-stahlstadt"]:visited {
    color: #e7f232; }
  .gig[class*="a11y-dev-atag"] {
    background: #002130;
    color: white; }
  .gig__heading-link[class*="a11y-dev-atag"], .gig__heading-link[class*="a11y-dev-atag"]:link, .gig__heading-link[class*="a11y-dev-atag"]:visited {
    color: white; }
  .gig__heading {
    margin: 4rem 0;
    font-size: 2rem;
    line-height: 1.3; }
  .gig__heading-link, .gig__heading-link:link, .gig__heading-link:visited {
    text-decoration: none; }
  .gig__date {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    writing-mode: vertical-rl;
    background-color: inherit;
    font-size: 1.6rem;
    padding: 1rem 0; }
    .gig:nth-child(even) .gig__date {
      top: 0;
      bottom: auto; }
  .gig__description {
    font-size: 1.6rem;
    margin-top: 2rem; }
  .gig__location {
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    align-items: center; }
  .gig__flag {
    margin-left: 1rem; }
    .gig__flag svg {
      display: block; }
  .gig__logo {
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 40px; }

.post-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .post-list__heading--undefined {
    background: #36b1bf; }
  .post-list__link--undefined, .post-list__link--undefined:link, .post-list__link--undefined:visited {
    color: #000000; }
  .post-list__date--undefined {
    background-color: #36b1bf;
    color: #000000; }
  .post-list__image--undefined {
    background-color: #36b1bf; }
  .post-list__heading--a-list-apart {
    background: #FFFFFF; }
  .post-list__link--a-list-apart, .post-list__link--a-list-apart:link, .post-list__link--a-list-apart:visited {
    color: #000000; }
  .post-list__date--a-list-apart {
    background-color: #FFFFFF;
    color: #000000; }
  .post-list__image--a-list-apart {
    background-color: #FFFFFF; }
  .post-list__heading--smashing-magazine {
    background: #d33a2c; }
  .post-list__link--smashing-magazine, .post-list__link--smashing-magazine:link, .post-list__link--smashing-magazine:visited {
    color: #FFFFFF; }
  .post-list__date--smashing-magazine {
    background-color: #d33a2c;
    color: #FFFFFF; }
  .post-list__image--smashing-magazine {
    background-color: #d33a2c; }
  .post-list__heading--css-tricks {
    background: #100e17; }
  @supports (-webkit-text-fill-color: rgba(0, 0, 0, 0)) {
    .post-list__heading-inner--css-tricks {
      background: linear-gradient(to right, #ff8a00, #da1b5f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(0, 0, 0, 0); } }
  .post-list__link--css-tricks, .post-list__link--css-tricks:link, .post-list__link--css-tricks:visited {
    color: #ff8a00; }
  .post-list__date--css-tricks {
    background-color: #100e17;
    color: #ff8a00; }
  .post-list__image--css-tricks {
    background-color: #100e17; }
  .post-list__heading--medium {
    background: #292929; }
  .post-list__link--medium, .post-list__link--medium:link, .post-list__link--medium:visited {
    color: #FFFFFF; }
  .post-list__date--medium {
    background-color: #292929;
    color: #FFFFFF; }
  .post-list__image--medium {
    background-color: #292929; }
  .post-list__heading--24a11y {
    background: #0275d8; }
  .post-list__link--24a11y, .post-list__link--24a11y:link, .post-list__link--24a11y:visited {
    color: #FFFFFF; }
  .post-list__date--24a11y {
    background-color: #0275d8;
    color: #FFFFFF; }
  .post-list__image--24a11y {
    background-color: #0275d8; }
  .post-list__item {
    display: grid;
    justify-items: start;
    grid-gap: 0.5rem;
    grid-template-columns: 3.2rem 1fr;
    margin-bottom: 2.66667rem;
    position: relative; }
  .post-list__image {
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.1);
    height: 3.2rem;
    padding: 0.5rem;
    width: 3.2rem; }
    .post-list__image img {
      display: block;
      max-height: 100%; }
  .post-list__link {
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.1);
    display: block;
    grid-column: 1 / -1; }
    .post-list__link::before {
      content: "";
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%; }
    .post-list__link, .post-list__link:link, .post-list__link:visited {
      text-decoration: none; }
  .post-list__heading {
    font-size: 2.6rem;
    margin: 0;
    padding: 0 1rem;
    transform-origin: left center;
    transition: all 0.3s; }
    .post-list__link:hover .post-list__heading,
    .post-list__link:focus .post-list__heading {
      position: static;
      transform: scale(1.1); }
  .post-list__date {
    align-items: center;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJtYWluLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/