.page {
  position: relative;

  &__title {
    margin: 0 0 $spacing / 2;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--intro-padding);
    text-align: var(--intro-alignment);

    .home & {
      height: var(--intro-height);
    }
  }
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr 40px;
  grid-template-areas:
    'heading heading'
    'content subheading';
  grid-gap: 1rem;
  margin-right: 1rem;

  &__heading {
    grid-area: heading;
    justify-self: flex-end;
    margin: 0 !important;
  }

  &__subheading {
    align-self: flex-start;
    grid-area: subheading;
  }

  &__item {
    grid-column-end: 2;
  }
}
