<header class="site__header">

  <a href="/" class="site__logo logo">
    <span class="visually-hidden">Home page</span>
    {% include 'components/logo.svg' %}
  </a>

  <nav class="nav-main js-nav-main">
    <ul class="nav-main__list">
      {%- for nav in collections.nav | reverse -%}
        <li class="nav-main__item">
          <a class="nav-main__link {% if nav.url == page.url %} nav-main__link--active{% endif %}" href="{{ nav.url | url }}">
          {{ nav.data.navtitle }}
            </a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>

  <canvas class="site__separator js-sq-site-header" hidden aria-hidden="true"></canvas>
</header>

