<h1>
  <a href="/">
    {{ title or metadata.title }}
  </a>
</h1>

<nav>
  <ul>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/speaking">Speaking</a>
    </li>
  </ul>
</nav>
