/*
++++++ The dark side of the grid 🌈 ++++++
*/

// Variables
$dark-grid-line-rotation: rotate(-16deg);
$dark-grid-layout-gap: 15px;
$dark-grid-move-2-left: translateX(calc(-100% - #{$dark-grid-layout-gap}));
$dark-grid-move-3-left: translateX(calc(-200% - #{$dark-grid-layout-gap} * 2));
$dark-grid-move-up: translateY(calc(-100% - #{$dark-grid-layout-gap}));
$dark-grid-animation-duration: 1s;

// Mixins
@mixin dark-grid-title-grid-lines($element) {
  &::before,
  &::after {
    content: '';
    display: block;
    background: #ffffff;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 33.333%;
    top: 0;

    @at-root {
      .demo--playing #{$element}::after,
      .demo--playing #{$element}::before {
        animation: dark-grid-shine-inner 0.1s 0.1s forwards;
      }
    }
  }

  &::after {
    left: 66.666%;
  }
}

// Animations
@keyframes dark-grid-shine {
  to {
    box-shadow: inset 0 0 4px 0 #fff;
  }
}

@keyframes dark-grid-shine-inner {
  to {
    box-shadow: 0 0 2px 0 #fff;
  }
}

@media (min-width: 800px) {
  @keyframes dark-grid-shine {
    to {
      box-shadow: inset 0 0 14px 0 #fff;
    }
  }

  @keyframes dark-grid-shine-inner {
    to {
      box-shadow: 0 0 8px 0 #fff;
    }
  }
}

@keyframes dark-grid-rainbow {
  from {
    width: 0;
    right: 50%;
    top: 24%;
  }

  to {
    width: 44%;
    right: 0;
    top: 39.5%;
  }
}

@media (min-width: 700px) {
  @keyframes dark-grid-rainbow {
    from {
      width: 0;
      right: 50%;
      top: 24%;
    }

    to {
      width: 44%;
      right: 0;
      top: 40.5%;
    }
  }
}

@media (min-width: 1300px) {
  @keyframes dark-grid-rainbow {
    from {
      width: 0;
      right: 50%;
      top: 24%;
    }

    to {
      width: 44%;
      right: 0;
      top: 42.5%;
    }
  }
}

@keyframes dark-grid-release {
  100% {
    transform: none;
  }
}

@keyframes dark-grid-release-5 {
  0% {
    transform: $dark-grid-move-up;
  }
  
  100% {
    transform: none;
  }
}

@keyframes dark-grid-release-6 {
  0% {
    transform: $dark-grid-move-up;
  }

  100% {
    transform: none;
  }
}

@keyframes dark-grid-release-x {
  100% {
    transform: $dark-grid-move-up;
  }
}

@keyframes dark-grid-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// Theme overrides
[data-theme*='dark-side-of-the-grid'] {
  $yellow: rgb(255, 244, 48);
  $green: rgb(45, 165, 26);
  $orange: rgb(244, 129, 46);

  .a-title {
    margin: 0;
    padding: 6% 0 16%;
    position: relative;
  }

  .a-title-grid {
    padding-bottom: 16%;
    width: 16%;
    border: 2px solid #fff;
    transform: rotate(45deg);
    margin: 0 auto;
    position: relative;
    background: $theme-dark-grid-bg;
    z-index: 300;

    @at-root .demo--playing .a-title-grid {
      animation: dark-grid-shine 0.1s 0.1s forwards;
    }

    @include dark-grid-title-grid-lines('.a-title-grid');
  }

  .a-title-grid-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    z-index: 1;

    @include dark-grid-title-grid-lines('.a-title-grid-inner');
  }

  .a-title-white-light,
  .a-title-rainbow {
    position: absolute;
    top: 65%;
    z-index: 1000;
  }

  .a-title-white-light {
    width: 0;
    left: -5%;
    height: 2px;
    background: #fff;
    transform: $dark-grid-line-rotation;
    transition: all 300ms;

    box-shadow: 0 0 2px 0 #fff;

    @media (min-width: 800px) {
      box-shadow: 0 0 4px 0 #fff;
    }

    @at-root .demo--playing .a-title-white-light {
      left: 0;
      top: 45.5%;
      width: 42%;
    }
  }

  .a-title-rainbow {
    height: 30px;
    top: 24%;
    transform: rotate(16deg) skewX(15deg);
    background: linear-gradient(
      to bottom,
      #ff3232 2%,
      #ff3030 20.6%,
      $orange 20.7%,
      $orange 33.3%,
      $yellow 33.4%,
      $yellow 50%,
      $green 50.1%,
      $green 66.7%,
      #27d4f7 66.8%,
      #27d4f7 79.4%,
      #891aa8 79.5%,
      #891aa8 100%
    );
    -webkit-transform-style: preserve-3d;
    z-index: 1;
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 86%);
    // transition: all 0.1s;
    width: 0;

    @media (min-width: 700px) {
      height: 40px;
    }
    @media (min-width: 900px) {
      height: 60px;
    }

    @media (min-width: 1300px) {
      height: 80px;
    }

    @at-root .demo--playing .a-title-rainbow {
      animation: dark-grid-rainbow 300ms 300ms both;
    }
  }

  .a-title-text {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 70%;
    position: absolute;
    right: 0;
    opacity: 0;

    @at-root .demo--playing .a-title-text {
      animation: dark-grid-text 300ms 900ms forwards;
    }
    @include mq(m) {
      max-width: 60%;
    }
  }

  .a-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    margin: 0;
    list-style: none;
    grid-gap: $dark-grid-layout-gap;
    padding: 0 $content-padding;

    @include mq(m) {
      grid-auto-rows: 70px;
    }

    @include mq(l) {
      grid-auto-rows: 100px;
      padding: 0;
    }

    @include mq(xl) {
      grid-auto-rows: 115px;
    }
  }

  .a-layout__item {
    background: #27d4f7;
    border-radius: 5px;

    @at-root .demo--playing .a-layout__item {
      animation-fill-mode: forwards;
      animation-duration: $dark-grid-animation-duration;
    }

    &:nth-child(2) {
      transform: $dark-grid-move-2-left;
    }

    &:nth-child(3) {
      transform: $dark-grid-move-3-left;
    }

    &:nth-child(4) {
      transform: $dark-grid-move-up;
    }

    &:nth-child(5) {
      transform: $dark-grid-move-up + $dark-grid-move-2-left;
    }

    &:nth-child(6) {
      transform: $dark-grid-move-up + $dark-grid-move-3-left;
    }

    @at-root .demo--playing {
      .a-layout__item:nth-child(-n + 3) {
        animation-name: dark-grid-release;
      }

      .a-layout__item:nth-child(4) {
        animation: dark-grid-release-x $dark-grid-animation-duration,
        dark-grid-release $dark-grid-animation-duration 1s;
      }
  
      .a-layout__item:nth-child(5) {
        animation: dark-grid-release-x $dark-grid-animation-duration,
        dark-grid-release-5 $dark-grid-animation-duration 1s;
      }
  
      .a-layout__item:nth-child(6) {
        animation: dark-grid-release-x $dark-grid-animation-duration,
        dark-grid-release-6 $dark-grid-animation-duration 1s;
      }

      .a-layout__item:nth-child(n + 4) {
        animation-fill-mode: forwards;
      }
    }
  }

  .fact a {
    @include link {
      box-shadow: 0 4px 0 0 $yellow !important;
    }

    @include link-active {
      box-shadow: 0 4px 0 0 $green !important;
    }
  }

  blockquote {
    color: $yellow;
  }

  p code {
    background-color: rgba(255, 255, 255, 0.8);
    color: $theme-dark-grid-bg;
  }

  .logo {
    @include logo-shadow($theme-dark-grid-bg, $green);
  }
}
