---
layout: layouts/page.njk
title: Guestbook
description: Manuel Matuzovic, Mitglied der Wirtschaftskammer Wien.
permalink: /guestbook/index.html
tags:
  - nav
navtitle: Guestbook
---

<form action="/thank-you" name="guestbook" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
  </p>

  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>

  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>

  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

{% for submission in submissions %}
  {{ submission.email }}
{% endfor %}
