/* Utility Classes */

.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  left: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1px;
}

.u-df {
  display: flex;
}

.t-invert {
  background: var(--c-contrast);
  color: var(--c-primary);
}

.t-invert :where(a:link, a:visited) {
  color: var(--c-primary);

}