<!DOCTYPE html>
<html lang="en" id="top" class="no-js">
  <head>
    {% include 'components/frame/head.njk' %}
  </head>

  <body  class="{{ page_class }}">
    {% include 'components/frame/header.njk' %}

    <main id="main">      
      {{ content | safe }}
    </main>

    {% include 'components/frame/footer.njk' %}
  </body>
</html>
