---
layout: layouts/base.njk
---

<article class="post rich-text">
  <header>
    <h1 class="post-heading">{{ title }}</h1>

    <p>
      posted on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </p>
  </header>

  {% if intro %}
    {{ intro | md | safe }}
  {% endif %}

  {% if intro2 %}
    {{ intro2 | safe }}
  {% endif %}

  {% if intro3 %}
    {{ intro3 | md | safe }}
  {% endif %}

  <hr>


  {% if teaser %}
    {{ teaser | md | safe }}
  {% endif %}


  {% if content %}
    {{ content | safe }}
  {% else %}
    <p>
      Read the full article on  

      <a href="{{ url }}" rel="noopener">
        {{ publication}} 
      </a>.
    </p>
  {% endif %}

  {% if codepen %}
    <p>
    <a href="{{ codepen }}?editors=1100">See on CodePen</a>.
    </p>    
  {% endif %}

{# {% if caniuse %}
<section aria-labelledby="bsheading" tabindex="0" class="table-wrapper">
  <h2 id="bsheading">Browser Support</h2>
  {% cssSupportTable caniuse %}
</section>
{% endif %} #}

  {% if reading or tag %}
    <h2>Further reading</h2>
    <ul>
    {% for link in reading %}
      <li>
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}

    {% if tag %}
      {% set related = collections['100days-' ~ tag] %}
      {% for link in related %}
        {% if page.url != link.url %}
          <li>
            <a href="{{ link.url }}">
              {{ link.data.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
    </ul>
  {% endif %}

{% set previousPost = collections.100daysofmoreorlessmoderncss | getPreviousCollectionItem(page) %}
{% set nextPost = collections.100daysofmoreorlessmoderncss | getNextCollectionItem(page) %}

{% if previousPost or nextPost %}
<nav aria-labelledby="more">
<h2 id="more">Want more?</h2>

  <ol class="prevnext">
{% if previousPost %}
<li>
    <a href="{{ previousPost.url }}">Previous post: <strong>{{ previousPost.data.title }}</strong></a>
  </li>
{% endif %}

{% if nextPost and not nextPost.data.draft %}
  <li>
    <a href="{{ nextPost.url }}" class="next">Next post: <strong>{{ nextPost.data.title }}</strong></a>
  </li>
{% endif %}

  </ol>
<p>
  Overview: <a href="/blog/2022/100-days-of-more-or-less-modern-css/">
    100 Days Of More Or Less Modern CSS
    </a>
</p>
</nav>  
{% endif %}

  <footer>
    {% set subject = "Comment on “" ~ title ~ "”" %}
    <p>My blog doesn't support comments yet, but you can reply via <a href="mailto:blog@matuzo.at?subject={{ subject | urlencode }}">e-mail</a>.</p>
  </footer>

</article>
