<!DOCTYPE html>
<html lang="en" id="top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}{{ metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/relaunch.css' | url | cacheBuster }}">
    {% for sheet in sheets %}
      {% set sheet_url = '/assets/' + sheet + '.css' %}
      <link rel="stylesheet" href="{{ sheet_url | url | cacheBuster }}">
    {% endfor %}

    <meta name="description" content="{{ description or metadescription }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadescription }}">
    <meta property="og:image" content="{{ metadata.cloudinary }}/w_1200/{{ image or metadata.smimage }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">

    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ title or metadata.title }}">
    <meta name="author" content="Manuel Matuzović"> 
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#36b1bf">

    <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | cacheBuster }}" title="Articles - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_til.xml' | cacheBuster }}" title="Today I Learned - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_misc.xml' | cacheBuster }}" title="Personal blog - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_all.xml' | cacheBuster }}" title="Articles, TIL, and personal blog - {{ metadata.title }}">
    
    <link rel="webmention" href="https://webmention.io/www.matuzo.at/webmention">
    <link rel="pingback" href="https://webmention.io/www.matuzo.at/xmlrpc">
    
  </head>

  <body>
    {% include 'header.njk' %}

    <div class="banner">
      <h2>This site is updating in the open</h2>
      <p>It looks like stylesheets are missing, but actually I’m working on this site openly and I just started to redesign it. Things will look a little better every time I find the time to update it.<br>
      If something is completely broken, please <a href="mailto:manuel@matuzo.at">get in touch</a>.</p>
    </div>

    <main id="content" class="{{ page_class }}">
      
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}
  </body>
</html>
