<!DOCTYPE html>
<html lang="en" id="top" class="{{pageclass}}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% if title %}{{ title }} - {% endif %}{{ metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/prism.css' | url | cacheBuster }}">
    <link rel="stylesheet" href="{{ '/assets/relaunch.css' | url | cacheBuster }}">
    {% for sheet in sheets %}
      {% set sheet_url = '/assets/' + sheet + '.css' %}
      <link rel="stylesheet" href="{{ sheet_url | url | cacheBuster }}">
    {% endfor %}
    
    {% set postTeaser = '' %}

    {% if teaser %}
      {% set postTeaser = teaser | md | striptags %}
    {% endif %}
    <meta name="description" content="{{ description or metadescription or postTeaser  }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadescription or postTeaser }}">
    <meta property="og:image" content="{{ metadata.cloudinary }}/w_1200/{{ image or metadata.smimage }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">

    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ title or metadata.title }}">
    <meta name="author" content="Manuel Matuzović"> 
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#36b1bf">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link type="application/atom+xml" rel="alternate" href="{{ '/feed.xml' | cacheBuster }}" title="Articles - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_til.xml' | cacheBuster }}" title="Today I Learned - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_all.xml' | cacheBuster }}" title="Articles, TIL, and personal blog - {{ metadata.title }}">
    <link type="application/atom+xml" rel="alternate" href="{{ '/feed_100dayscss.xml' | cacheBuster }}" title="100 Days Of More Or Less modern CSS - {{ metadata.title }}">
    
    <link rel="webmention" href="https://webmention.io/www.matuzo.at/webmention">
    <link rel="pingback" href="https://webmention.io/www.matuzo.at/xmlrpc">
    
  </head>

  <body class="body" id="body">
    {% include 'header.njk' %}

    {# <section class="banner" aria-labelledby="banner_heading">
      <h2 id="banner_heading">This site is updating in the open</h2>
      <p>Things might look unstyled because they probably are.</p>
    </section> #}

    <main id="content" class="{{ page_class }}">
      
      {{ content | cssSupportPanels | safe }}
    </main>

    {% include 'footer.njk' %}
  </body>
</html>
