---
layout: layouts/base.njk
---

<article class="rich-text">
  <header>
    <h1>{{ title }}</h1>

    <p>
      posted on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </p>
  </header>

  {% if intro %}
    {{ intro | md | safe }}
  {% endif %}

  {% if teaser %}
    {{ teaser | md | safe }}
  {% endif %}

  {% if content %}
    {{ content | safe }}
  {% else %}
    <p>
      Read the full article on  

      <a href="{{ url }}" rel="noopener">
        {{ publication}} 
      </a>.
    </p>
  {% endif %}
</article>
