---
layout: layouts/base.njk
---

<article class="post rich-text">
    <h1 class="post-heading">{{ title }}</h1>

    <p>
      posted on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </p>

  {% if intro %}
    {{ intro | md | safe }}
  {% endif %}

  {% if intro2 %}
    {{ intro2 | safe }}
  {% endif %}

  {% if intro3 %}
    {{ intro3 | md | safe }}
  {% endif %}

  {% if teaser %}
    {{ teaser | md | safe }}
  {% endif %}

  {% if content %}
    {{ content | safe }}
  {% else %}
    <p>
      Read the full article on  

      <a href="{{ url }}" rel="noopener">
        {{ publication}} 
      </a>.
    </p>
  {% endif %}
</article>
