.blog {
  &__teaser {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: 2rem 3rem;
    position: relative;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__date {
    font-size: 1.9rem;
    padding-left: $spacing;
  }

  &__content {
    @supports (font-size: var(--test)) {
      max-width: 60ch;
    }
  }

  &__publication {
    left: -3rem;
    position: absolute;
    top: 0rem;

    img {
      border: none;
      max-width: 100%;
    }
  }
}
