.box-list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  &__item {
    background: $c-highlight3;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.05);
    color: #FFFFFF;
    margin-bottom: $spacing / 2;
    width: 26rem;

    &--a-list-apart {
      background-color: #FFFFFF;
      color: #000;
    }

    &--smashing-magazine {
      background-color: #d33a2c;
    }

    &:nth-child(even) {
      margin-left: auto;
    }
  }

  &__heading {
  // border-radius: 50%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    padding: 2rem;
    margin: 0;
  }
}



// .date {
//   background: #7fc3c7;

//   width: 8rem;
//   height: 8rem;
//   // border-radius: 50%;
//   display: flex;
//   color: #fff;
//   font-weight: bold;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   // transform: rotate(6deg);
//   position: absolute;
//   left: 0;
//   top: 0;  
//   display: none;
// }


