@mixin gig-theme($class, $link) {
  &[class*="#{$class}"] {
    @content;
  }

  &__heading-link[class*="#{$class}"] {
    @include link {
      color: $link;
    }
  }
}

.gig {
  padding: $spacing $spacing / 2  $spacing / 2;
  position: relative;

  @include gig-theme('css-a11y-budapest', rgb(255, 255, 255)) {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  @include gig-theme('the-dark-side-of-the-grid-wke', rgb(0, 0, 0)) {
    background-color: #fff;
    color: rgb(31, 76, 122);
  }

  @include gig-theme('the-dark-side-of-the-grid-atag', rgb(247, 0, 0)) {
    background: rgb(0, 40, 38);
    color: rgb(148, 236, 233);
  }

  @include gig-theme('the-dark-side-a11yto', rgb(2, 91, 159)) {
    background: rgb(255, 255, 255);
    color: rgb(2, 91, 159);
  }

  @include gig-theme('dark-side-frontend-connect', rgb(0, 164, 132)) {
    background: rgb(255, 255, 255);
    color: rgb(38, 62, 82);
  }

  @include gig-theme('i-threw-away-frontend-con', rgb(0, 0, 0)) {
    background: rgb(244, 213, 14);
    color: rgb(0, 0, 0);
  }

  @include gig-theme('webclerks', rgb(255, 148, 70)) {
    background: rgb(255, 255, 255);
    color: rgb(229, 87, 109);
  }

  @include gig-theme('sae', rgb(255, 255, 255)) {
    background: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
  }

  @include gig-theme('writing-html-lightning-talk-concat', rgb(228, 1, 56)) {
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
  }

  @include gig-theme('a11y-ux-wordcamp', rgb(255, 255, 255)) {
    background: rgb(29, 102, 165);
    color: rgb(255, 255, 255);
  }

  @include gig-theme('focus-codecamp', rgb(255, 255, 255)) {
    background: rgb(0, 100, 0);
    color: rgb(255, 255, 255);
  }

  @include gig-theme('viennajs', rgb(255, 255, 255)) {
    background: rgb(236, 0, 0);
    color: rgb(255, 255, 255);
  }

  @include gig-theme('a11y-ux-piter', rgb(85, 53, 158)) {
    background: rgb(255, 255, 255);
    color: rgb(48, 59, 64)
  }

  @include gig-theme('codepen', rgb(71, 207, 115)) {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
  }
  
  @include gig-theme('a11y-css-minsk', rgb(48, 47, 47)) {
    background: rgb(255, 255, 255);
    color: rgb(48, 47, 47);
  }
  
  @include gig-theme('css-a11y-stahlstadt', rgb(0, 0, 0)) {
    background: rgb(247, 223, 31);
    color: rgb(0, 0, 0);
  }
  
  @include gig-theme('css-a11y-stahlstadt', rgb(231, 242, 50)) {
    background: rgb(0, 33, 50);
    color: rgb(255, 255, 255);
  }
  
  @include gig-theme('a11y-dev-atag', rgb(255, 255, 255)) {
    background: rgb(0, 33, 48);
    color: rgb(255, 255, 255);
  }

  &__heading {
    margin: $spacing 0;
    font-size: 2rem;
    line-height: 1.3;
  }

  &__heading-link {
    @include link {
      text-decoration: none;
    }
  }

  &__date {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    writing-mode: vertical-rl;
    background-color: inherit;
    font-size: 1.6rem;
    padding: 1rem 0;

    .gig:nth-child(even) & {
      top: 0;
      bottom: auto;
    }
  }

  &__description {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  &__location {
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    font-size: 1.6rem;
    font-weight: normal;
    display: flex;
    align-items: center;
  }

  &__flag {
    margin-left: 1rem;

    svg {
      display: block;
    }
  }

  &__logo {
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 40px;
  }
}
