.h1 {
  display: inline-block;
  font-size: 2.6rem;
  line-height: 1.4;
  margin: 0 0 $spacing;
  padding: $spacing / 4 $spacing / 2;
  position: relative;

  $size: $spacing / 3;

  &::after,
  &::before {
    content: "";
    display: block;
    width: $size;
    height: $size;
    border-style: solid;
    position: absolute;
  }

  &::before {
    border-color: $c-sec;
    border-width: 0 0 $size $size;
    left: 0;
    bottom: 0;
  }

  &::after {
    border-width: $size $size 0 0;
    border-color: $c-highlight;
    top: 0;
    right: 0;
  }
}


.h2 {
  align-items: flex-end;
  display: flex;
  font-size: 2.2rem;
  line-height: 1;
  padding-left: 2rem;

  $colors: ($c-sec, $c-highlight, $c-prim);

  @debug nth($colors, random(length($colors)));

  &::before {
    background: nth($colors, random(length($colors)));
    content: "";
    display: block; 
    height: $spacing / 2.5;
    margin-right: $spacing / 4;
    width: $spacing / 2.5;
  }
}
