.logo {
  display: block;
  line-height: 1;

  &__graphic {
    width: 100%;
  }

  //   margin-bottom: 3rem;
  //   text-align: right;

  &__letter {
    fill: #36B1BF;
    // stroke-width: 4;
    // fill: transparent;

    &:nth-child(n+7):nth-child(-n+12) {
      stroke: transparent;
      fill: $c-primary;

    }

    .logo:hover & {
      fill: $c-highlight;
    }

    @for $i from 1 through 16 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 40ms;
      }
    }

  }
}
