.nav-main {
  --item-spacing: 0rem 0 1.2rem;
  --fz: 2rem;

  @include mq(s) {
    --item-spacing: 0.2rem 0 2.2rem;
    --fz: 2.2rem;
  }

  font-size: var(--fz);

  &__list {
    @include list-reset;

    font-weight: bold;
  }

  &__item {
    line-height: 1;
    margin: var(--item-spacing);

    &:nth-child(2) {
      margin-bottom: 4.7rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    transition: all 0.3s;

    @include link {
      color: $c-prim;
      text-decoration: none;
    }

    &--active {
      @include link {
        @include underline(4px, $c-sec);
        color: $c-sec-dark;
      }
    }

    @include link-active {
      @include underline(4px, $c-sec);
      color: $c-sec-dark;
    }
  }
}
