.page {
  grid-area: content;
  max-height: 100%;
  overflow: auto;
  padding: 4rem 2rem 4rem 0;

  &::after {
    background: rgba(#333, 0.9);
    content: "";
    display: block;
    width: 30rem;
    height: 3rem;
    position: absolute;
    right: 10vw;
    bottom: 0;
  }

&__content {
  border-left: 40px solid $c-light;
  min-height: 100%;
  padding: 3.5rem 4rem;
  position: relative;

  &::before {
    background: rgba(#333, 0.9);
    content: "";
    display: block;
    width: 40%;
    max-width: 50rem;
    height: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  & > * + * {
    margin-top: 4rem;
  }

  // &::before {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   height: 10px;
  //   width: 100%;
  //   display: block;
  //   content: "";
  //   background: #a84f53;
  //   clip-path: polygon(30px 0, 90% 0, calc(90% - 10px) 10px, 40px 10px);
  // }

  // &::after {
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 10px;
  //   width: 100%;
  //   display: block;
  //   content: "";
  //   background: #a84f53;
  //   clip-path: polygon(0 0, 70% 0, calc(70% - 10px) 10px, 0 10px);
  // }
}

  &__title {
    font-size: 2.6rem;
    line-height: 1;
    margin: 0 0 2rem;
    text-transform: uppercase;

    &__link {
      display: inline-block;
      border-bottom: 10px solid #333;
      padding-bottom: 1rem;
     
      &:link, &:visited {
        color: $c-primary;
        text-decoration: none;
      }
    }
  }
}
