.rich-text {
  p {
    margin-top: 0;

    @supports (font-size: var(--test)) {
      max-width: 60ch;
    }
  }

  * + * {
    margin-bottom: $spacing;
  }
  
  a {
    font-weight: bold;

    @include link {
      @include underline(4px, currentColor);

      color: $c-sec-dark;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(.47,0,.74,.71);
    }
  
    &:hover {
      @include underline(2px, $c-sec);

      color: $c-highlight;
    }

    @include link-focus;
  }

  p + .h2 {
    margin-top: 5rem;
  }

  img {
    border: 1rem solid $c-highlight;
    max-width: 80%;
  }

  pre {
    overflow: auto;
  }
}
