.blog {
  --date-padding: 1rem 0 0 0;
  --teaser-padding: 0;

  @include mq(m) {
    --date-padding: 0 0 0 #{ $spacing / 2 }; 
    --teaser-padding: 0 #{ $spacing / 2 };
  }

  @include mq(l) {
    --date-padding: 0 0 0 #{ $spacing / 1.5 }; 
    --teaser-padding: 0 #{ $spacing / 1.5 };
  }

  @include mq(xl) {
    --date-padding: 0 0 0 #{ $spacing }; 
    --teaser-padding: 0 #{ $spacing };
  }
}


.blog {
  &__teaser {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding: var(--teaser-padding);
    position: relative;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__date {
    font-size: 1.9rem;
    padding: var(--date-padding);
  }

  &__content {
    @supports (font-size: var(--test)) {
      max-width: 60ch;
    }
  }

  &__publication {
    float: none;
    display: inline-flex;

    img {
      border: none;
      max-width: 100%;
    }
  }
}
