.blog {
  --date-padding: 1rem 0 0 0;
  --blog-header-margin: #{$spacing};
  --blog-hr-spacing: 5.65rem;
  --date-font-size: 1.6rem;


  --quote-padding: 0;
  --quote-marks: none;
  --quote-cite-font-size: 1.6rem;

  @include mq(s) {
    --quote-marks: '';
    --quote-padding: 0 1rem 0 4rem;
  }

  @include mq(m) {
    --date-padding: 0 0 0 #{$spacing / 2};
    --blog-hr-spacing: 8.65rem;
    --quote-padding: 0 3rem 0 4rem;
  }

  @include mq(l) {
    --date-padding: 0 0 0 #{$spacing / 1.5};
  }

  @include mq(xl) {
    --date-padding: 0 0 0 #{$spacing};
    --date-font-size: 1.8rem;
    --quote-cite-font-size: 2rem;
  }

  @include mq(xwide) {
    --blog-header-margin: #{$spacing * 1.7};
  }
}

.blog {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &__intro {
    @include blog-post-width;

    font-style: italic;
    margin-bottom: $spacing / 2;
  }

  &__header {
    @include blog-post-width {

    }

    @include mq(wide) {
      max-width: -moz-max-content;
      max-width: max-content;
      min-width: $blog-post-width;
    }

    margin-bottom: var(--blog-header-margin);
  }

  &__teaser {
    @include blog-post-width;

    line-height: 1.6;
    margin-bottom: $spacing;
    position: relative;
  }

  &__heading {
    margin-bottom: 0;
  }

  &__date {
    font-size: var(--date-font-size);
    padding: var(--date-padding);
  }

  &__post {
    @supports (font-size: var(--test)) {
      max-width: 100ch;
    }
  }

  &__content {
    & > *:not(.u-full-width):not(.figure--full) {
      @include blog-post-width;
    }

    blockquote {
      font-style: italic;
      margin: 0 0 $spacing / 3;
      position: relative;
      padding: var(--quote-padding);

      & + footer {
        padding: var(--quote-padding);
      }

      &::before {
        content: var(--quote-marks);
        left: 0;
        position: absolute;
        top: 0.3rem;
        width: 0.3rem;
        height: 2.2rem;
        transform: skewX(20deg);
        border: solid $c-sec;
        border-width: 0 1rem;
      }
    }
  }

  &__publication {
    display: inline-flex;
    float: none;
    padding-top: 0;
    padding-bottom: 1rem;
    vertical-align: middle;

    .content__image-wrapper {
      padding: 0;
      margin: 0;

      &::before,
      &::after {
        display: none;
      }
    }

    img {
      border: none;
      max-width: 100%;
    }
  }

  hr {
    margin: var(--blog-hr-spacing) auto;
    width: 25%;
    border-color: rgba(255, 255, 255, 0.3);
  }
}
.info__heading {
  --info-heading-display: block;

  @include mq(m) {
    --info-heading-display: inline;
  }
}

.info__heading {
  display: var(--info-heading-display);
}

.info__label {
  background: $c-highlight;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 1rem 2rem -2rem;
  padding: 1.5rem;
  transform: rotate(-9deg);
}

.figure {
  cite {
    font-size: var(--quote-cite-font-size);
  }
}
