.btn {
  background: $c-sec-dark;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: $base-line;
  overflow: hidden;
  padding: 1rem 3rem 0.7rem;
  position: relative;
  text-decoration: none;

  @include link {
    color: $c-light;
  }

  &--small {
    padding: 0.4rem 2rem;
  }

  &--lg-none {
    @include mq(xl) {
      @include underline(4px, $c-highlight);

      background: none;
      padding: 0;

      @include link {
        color: $c-sec-dark;
      }

      @include link-active {
        color: $c-prim;
      }
    }
  }

  &::after {
    content: "";
    bottom: -100%;
    display: block;
    background: $c-highlight;
    height: 50%;
    left: 0;
    position: absolute;
    transition: all 0.3s ease-out;
    width: 100%;
  }

  &--highlight {
    background-color: $c-highlight;

    @include link {
      color: $c-prim-dark;
    }

    &::after {
      background-color: $c-sec;
    }
  }

  @include link-active {
    &::after {
      bottom: 0;
    }
  }

  @include link-focus;

  &__inner {
    position: relative;
    z-index: 1;
  }
}
