.content {
  --content-image-margin: -1rem;

  @include mq(m) {
    --content-image-margin: 0;
  }
}


.content {
  &__image-wrapper {
    @include corner(1rem, 2rem);
    margin: 0 -1rem;
    
    display: block;
  }

  &__image {
    display: block;
    position: relative;
    z-index: 1;
  }
}
