.content {
  --image-padding: 1rem;
  --block-size: 2rem;

  @include mq(xl) {
    --image-padding: 1.5rem;
    --block-size: 3rem;
  }
}

.content {
  &__image-wrapper {
    display: block;

    padding: var(--image-padding);
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      height: var(--block-size);
      position: absolute;
      width: var(--block-size);
    }

    &::after {
      background: $c-highlight;
      bottom: 0;
      height: var(--image-padding);
      right: 0;
    }
    
    &::before {
      background: $c-sec;
      left: 0;
      top: 0;
    }
  }

  &__image {
    display: block;
    position: relative;
    z-index: 1;
  }
}
