.figure {
  --figure-font-size: 2rem;
  --figure-width: 100%;
  --figure-margin: #{$spacing / 1.5 auto};
  --figcaption-font-size: 1.5rem;
  --figcaption-padding: 0;

  @include mq(l) {
    --figcaption-padding: 0 1.5rem;
  }

  @include mq(xl) {
    --figure-font-size: 2.7rem;
    --figure-width: 78%;
    --figure-margin: #{$spacing * 1.5 auto};
    --figcaption-font-size: 2rem;
  }
}

.figure {
  font-size: var(--figure-font-size);
  line-height: 1.4;
  margin: var(--figure-margin);
  max-width: var(--figure-width);

  & > a {
    display: block;

    @include link {
      // Never ever display shadows around image links
      box-shadow: none !important;
    }
  }

  &--full {
    max-width: 100%;
  }

  figcaption {
    font-size: var(--figcaption-font-size);
    font-style: italic;
    padding: var(--figcaption-padding);
  }
}
