.rich-text {
  p {
    margin-top: 0;

    @supports (font-size: var(--test)) {
      max-width: 55ch;
    }
  }

  & > * + * {
    margin-bottom: $spacing / 1.5;
  }
  
  a {
    // font-weight: bold;

    @include link {
      @include underline(3px, currentColor);

      color: $c-sec-dark;
      text-decoration: none;
      transition: all 0.2s cubic-bezier(.47,0,.74,.71);
    }
  
    &:hover {
      @include underline(3px, $c-highlight);

      color: $c-highlight;
    }

    @include link-focus;

    &.no-line {
      box-shadow: none;
    }
  }

  p + .h2 {
    margin-top: $spacing * 1.5;
    margin-bottom: $spacing / 2.5;
  }

  pre {
    overflow: auto;
  }
}
