.skip-link-container {
  position: relative;
}

.skip-link {
  background: $c-highlight;
  font-weight: bold;
  left: $spacing;
  outline: none;
  padding: $site-corner ($site-corner + $spacing / 2) $site-corner / 2;
  position: absolute;
  text-transform: uppercase;
  top: $site-corner;

  @include link {
    color: $c-prim-dark;
    text-decoration: none;
  }

  &::after,
  &::before {
    content: '';
    display: block;
    height: $spacing / 2;
    position: absolute;
    width: $spacing / 2;
  }

  &::after {
    background: $c-prim;
    right: ($spacing / 2 + $site-corner) * -1;
    top: 0;
  }

  &::before {
    background: $c-sec;
    bottom: ($spacing / 2 + $site-corner) * -1;
    right: 0;
  }

  &--inline {
    color: $c-prim;
    font-size: 1.5rem;
    font-weight: bold;
    left: 0;
    padding: 0.1rem 1rem;
    top: 0;
    transform: translateY(-100%);

    @include link-active {
      // Override global theme settings
      box-shadow: none !important;
    }

    &::after,
    &::before {
      display: none;
    }
  }
}

.skip-link:not(:focus) {
  @include hide-visually;
}
