@include theme(
  'smashing-magazine',
  $c-light,
  $c-highlight,
  $c-light,
  $c-highlight-light,
  $c-light
);

@include theme('medium', $c-light, $c-highlight, $theme-medium-color) 

@include theme(
    '24a11y',
    $c-light,
    $c-light,
    $c-highlight,
    $c-highlight-light,
    $c-light
  );

@include theme('a-list-apart', $theme-a-list-apart-color, $c-sec, $c-highlight);

@include theme(
  'css-tricks',
  $c-light,
  $theme-css-tricks-color2,
  $c-highlight,
  $theme-css-tricks-color2,
  $theme-css-tricks-color
);

@include theme(
  'dark-side-of-the-grid',
  #fff,
  #27d4f7,
  #891aa8,
  #ff3232,
  #f4812e
) {
  .blog__heading {
    &::before {
      background: #fff430;
    }

    &::after {
      border-color: #2da51a;
    }
  }
}

@include theme('codepen', #fff, #ffdd40, #ffffff, #0ebeff, #ffdd40);
@include theme('react-finland', #FFF, #FFF, rgba(255,255,255,.75), rgba(255,255,255,.75), #fff) {
  .content__image-wrapper {
    &::before,
    &::after {
      background: rgba(#fff, 0.4);
    }
  }

  code {
    background: #fff;
    color: #002fa9;
  }
}
