---
layout: layouts/page.njk
title: Come on,...for real!?
description: A list of sites where you can learn how to write HTML properly.
permalink: /5-developers/index.html
date: 1987-01-05
---

<div class="rich-text">
  <h2></h2>

  <p>Now that I have your attention, here’s a list of sites where you can learn how to write HTML properly.</p>

  <ul>
    <li>
      <a href="https://www.linkedin.com/learning/html-essential-training-4/what-is-html">
        HTML Essential training
      </a>
    </li>
    <li>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
        HTML: HyperText Markup Language (MDN)
      </a>
    </li>
    <li>
      <a href="https://150daysofhtml.com/">
        150 Days of HTML
      </a>
    </li>
    <li>
      <a href="https://medium.com/alistapart/writing-html-with-accessibility-in-mind-a62026493412">
        Writing HTML with accessibility in mind
      </a>
    </li>
    <li>
      <a href="https://www.htmhell.dev">
        HTMHell
      </a>
    </li>
  </ul>
</div>
