---
layout: layouts/page.njk
title: Manuel Matuzović
description: My name is Manuel and I'm a professional web developer since 2008 and a freelancer since 2010. I'm specialized in HTML, accessibility, and CSS layout and architecture.
tags:
  - nav
navtitle: About me
permalink: /about-me/index.html
date: 1987-01-05
---
<section>
  <p>
    Hi, my name is Manuel Matuzović! I’m a frontend developer, consultant, accessibility auditor, writer, and speaker from Vienna, currently living in Graz. I’m a fan of web standards and a staunch believer in progressive enhancement, and I'm specialized in web accessibility and large-scale CSS. 
  </p>

	<p class="highlight">
		Currently, I'm for hire and open to new opportunities. You can contact me <a href="manuel@matuzo.at">via e-mail</a> (manuel@matuzo.at).
  </p>

	<p>
		On this page, you’ll find everything you need to know about me and my work.
	</p>
  
  <p>
    <img src="/images/me.jpg" alt="Selfie from above. On the floor next to me HELL written in large letters.">
  </p>
</section>
<section>
  <h2>Work</h2>

  <p>
    I’ve started my web development career in 2008 by working as a full-stack web developer in an ad agency. After two years, I became a freelancer and transitioned slowly from full-stack to specializing in web accessibility and CSS. This allowed me to not just take development jobs, but also audit websites and consult companies and institutions. I spent the past ~4 years working as a senior frontend developer for <a href="https://wh-d.at">WHD</a> and the City of Vienna. <br>Starting 2023, I'm going back to being a full-time freelancer again.
  </p>

	<h3>What I can offer</h3>

	<ul>
		<li>Consulting (web accessibility and CSS layout/architecture)</li>
		<li>WCAG accessibility audits</li>
		<li><a href="#workshops">In-house or online workshops</a></li>
		<li>Frontend-end development (HTML, CSS, vanilla JS, web components)</li>
		<li>Authoring of accessibility statements</li>
	</ul>

	<h3>Technologies and tools</h3>
	<p>Here's a list of keywords that describe the areas, technologies, and tools I'm experienced with best:</p>

	<ul class="taglist">
		<li>accessibility (a11y)</li>
		<li>WCAG 2.1</li>
		<li>HTML</li>
		<li>CSS layout (CSS Grid, etc.)</li>
		<li>CSS architecture (solutions for large-scale sites and systems)</li>
		<li>vanilla JavaScript</li>
		<li>web components</li>
		<li>lit</li>
		<li>performance</li>
		<li>Craft CMS</li>
		<li>Sass</li>
		<li>eleventy (11ty)</li>
		<li>WordPress</li>
		<li>twig, nunjucks</li>
	</ul>

	<h3>What I expect</h3>

	<ul>
		<li>A strong focus on quality and accessibility</li>
		<li>An inclusive and friendly work environment</li>
		<li>In terms of the type of work, I'm open to everything: development, audits, workshops, consulting, dev rel, writing, etc.
		<li>Technology: Although I'm not specialized in JS frameworks, I have experience with Angular, Vue, and React. I'm open to working with these and other frameworks, too.</li>
	</ul>

  <h3>A selection of my past and current clients</h3>

	<div class="logolist">

		<img src="/images/aboutme/stadtwien.svg" width="120" alt="City of Vienna">
		<img src="/images/aboutme/burgtheater.jpg" width="230" alt="Burgtheater">
		<img src="/images/aboutme/shopify.svg" width="180" alt="Shopify">
		<img src="/images/aboutme/xxxldigital.jpg" width="230" alt="XXXL Sigital">
		<img src="/images/aboutme/sharenow.svg" width="200" alt="Share Now">
		<div style="background-color: #000; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/sipgate.svg" width="120" alt="Sipgate">
		</div>
		<img src="/images/aboutme/waca.svg" width="160" alt="WACA">
	</div>


</section>

<section>
	<h2 id="workshops">Workshops and teaching</h2>

	<p>I have a passion for teaching about the things I enjoy in web development. I offer workshops for companies and teaching for universities and colleges in German and English.</p> 

	<h3>Workshops</h3>

	<p>If you're interested in in-house or online teaching, I can prepare a single or multi-day workshop tailor-made for you. I'm open to topics and formats, but here are some ideas based on previous workshops I did with other clients.</p>

	<ul>
		<li>How to build accessibile frontend components</li>
		<li>Improving the accessibility of your product hands-on</li>
		<li>Accessibility testing</li>
		<li>Improving CSS architecture</li>
		<li>Advanced CSS layout</li>
		<li>HTML basics for editors/backend developers/beginners</li>
		<li>Modern CSS techniques</li>
		<li>The accessibility of single page applications (SPA)</li>
		<li>...</li>
	</ul>

	<h3>Teaching</h3>

	<p>I've been teaching on and off since 2010. My topics are HTML, CSS, web accessibility, and web development in general. Travelling within Austria is no issue and outside of Austria it depends on the frequency.</p>

	<h3>I've taught at the following institutions</h3>

	<div class="logolist" style="margin-bottom: 2em">
		<div style="background-color: #000; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/sae.png" width="140" alt="SAE Vienna">
		</div>
		<div style="text-align: center">
		<img src="/images/aboutme/fhsalzburg.svg" width="70" alt="FH Salzburg"><br>
		<img src="/images/aboutme/fhsalzburg-text.svg" width="90" alt="FH Salzburg">
		</div>
		<img src="/images/aboutme/cmd_hva.png" width="360" alt="Communication and Multimedia Design Amsterdam | HvA">
		<img src="/images/aboutme/joanneum.svg" width="180" alt="FH Joanneum">
		<img src="/images/aboutme/uni.jpeg" width="180" alt="ZID der Uni Wien">
	</div>

	<p>(This list includes regular engagements as well as guest lectures.)</p>
</section>

<section>
  <h2>Writing and speaking</h2>

  <p>I write about HTML and CSS on my personal blog, on <a href="https://www.htmhell.dev/">HTMHell</a>, and other sites like <a href="https://web.dev">web.dev</a> or <a href="https://www.smashingmagazine.com/" rel="noopener">Smashing Magazine</a>.</p>

	<div class="logolist" style="margin: 2em 0">
	
		<img src="/images/aboutme/CSS-Tricks.webp" width="180" alt="CSS-Tricks">
		<img src="/images/aboutme/webdev.svg" width="150" alt="web.dev">
		<div style="background-color: #d33a2c; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/smashing.svg" width="140" alt="Smashing Magazine">
		</div>
		<img src="/images/aboutme/ala.png" width="180" alt="A List Apart">
	</div>


	<p>I like to speak about CSS, HTML, and web accessibility. I gave talks at more than 35 events in 9 different countries. This includes the following events:</p>

	<div class="logolist" style="margin-top: 2em">
		<img src="/images/aboutme/smashingconf.svg" width="180" alt="Smashing Conference">
		<div style="background-color: #000; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/bt.svg" width="180" alt="Beyond Tellerand">
		</div>
		<div style="background-color: #012fa9; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/reactfinland.svg" width="70" alt="Beyond Tellerand">
		</div>
		<div style="background-color: #5a5a59; padding: 0.5rem 0.7rem 0">
		<img src="/images/aboutme/fronteers.svg" width="180" alt="Beyond Tellerand">
		</div>
		<img src="/images/aboutme/a11yto.svg" width="180" alt="Beyond Tellerand">
	</div>

</section>
<section>
  <h2>Get in touch</h2>

  <p>Summarizing, I love the web and especially frontend development. ❤️</p>

  <p>If you want to work with me or if you're interested in an audit or a workshop, please contact me via <a href="mailto:manuel@matuzo.at">email</a> (manuel@matuzo.at) or find me on <a href="https://front-end.social/@matuzo" rel="noopener">Mastodon</a>. I'd be happy to get to know you!</p>
</section>
