---
layout: layouts/page.njk
title: Blog
description: My personal blog. Nowadays I focus a lot on accessibility but I also write about CSS layout, architecure, and performance.
tags:
  - nav
navtitle: Blog
permalink: /blog/index.html
date: 1987-01-05
---

{% set max = 1000 %}
{% set level = 'h2' %}
{% set posts = collections.blog | reverse %}
{% include 'components/blog-posts.njk' %}
