---
layout: layouts/page.njk
title: Personal Blog
description: My personal blog. Nowadays I focus a lot on accessibility but I also write about CSS layout, architecure, and performance.
navtitle: Personal Blog
permalink: /blog/misc/index.html
date: 1987-01-05
local_nav:
  - title: "Web dev"
    url: /blog
  - title: "Misc"
    url: /blog/misc
pagination:
  data: collections.blogmisc
  size: 6
  alias: blog_posts
  reverse: true
---

{% set max = 1000 %}
{% set level = 'h2' %}
{% set posts = blog_posts %}
{% include 'components/blog-posts.njk' %}
