---
layout: layouts/page.njk
title: Reading list
navtitle: Reading list
permalink: /readinglist/index.html
date: 1987-01-01
tags:
  - nav
---
<p>Articles and books I've enjoyed reading.</p>
{% for date in reading_list %}
  <h2>{{ date.day }}</h2>
  
  <ul>
    {% for link in date.links %}
      <li>
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
