---
title: Demo
permalink: /demo/index.html
date: 1987-01-03
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>Unique page title - My Site</title>
  <meta name="description" content="The meta description of this page">

  {# <meta property="og:title" content="Unique page title - My Site">
  <meta property="og:description" content="Page description">
  <meta property="og:image" content="image.jpg">
  <meta property="og:locale" content="de">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.mywebsite.com">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@myTwitterHandle">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/my.webmanifest">
  <meta name="theme-color" content="#FF0000">

  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="print.css" media="print"> #}

  <link rel="canonical" href="/demo">

  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('js');
  </script>
</head>

<body>
  <h1>Unique page title - My Site</h1>

  <!-- Content -->
  {# <script src="legacy.js" nomodule></script>
  <script src="script.js" type="module"></script> #}
</body>
</html>
