---
layout: layouts/page.njk
title: Legal / Impressum
description: Manuel Matuzovic, Mitglied der Wirtschaftskammer Wien.
permalink: /legal/index.html
---

<div class="rich-text">
  <p>
    Manuel Matuzovic<br>
    Radegunder Straße 120g/1<br>
    8045 Graz<br>
  </p>

  <p>
    UID-Nummer: ATU 660 53101<br>
    Mitglied der <a href="https://firmen.wko.at/Web/DetailsKontakt.aspx?FirmaID=b1df20b4-1cdb-45e5-88b1-1de39186b3ac&StandortID=0&Suchbegriff=Matuzovic&Page=1" rel="noopener">Wirtschaftskammer Wien</a> 
  </p>

  <p>
    Telefon: <a href="tel:+436643558316">0664 355 83 16</a><br>
    Email: <a href="mailto:manuel@matuzo.at">manuel@matuzo.at</a>
  </p>
</div>
