---
layout: layouts/page.njk
title: Thank you
description: Manuel Matuzovic, Mitglied der Wirtschaftskammer Wien.
permalink: /thank-you/index.html
---

<p>Thank you for your submission.</p>

<p>Back to the <a href="/guestbook">Guestbook</a> or check out what's going on my blog.</p>
