---
layout: page.njk
title: TIL (Today I learned)
description: My personal blog. Nowadays I focus a lot on accessibility but I also write about CSS layout, architecure, and performance.
tags:
  - nav
navtitle: TIL
permalink: /TIL/index.html
date: 1987-01-01
---

<ol class="til" reversed>
{% for til in collections.til|reverse %}
  <li>
    <h2>
      {{ til.data.title }}
    </h2>
    {% if til.data.image %}
      {% if til.data.link %}
        <a href="{{ til.data.link }}" rel="noopener">
          <img loading="lazy" src="{{ metadata.cloudinary }}/w_440/{{til.data.image}}" alt="{{ til.data.title }}">
        </a>
      {% else %}
        <a href="{{ metadata.cloudinary }}/{{til.data.image}}" rel="noopener">
          <img loading="lazy" src="{{ metadata.cloudinary }}/w_440/{{til.data.image}}" alt="{{ til.data.title }}">
        </a>
      {% endif %}
    {% endif %}

    {{ til.templateContent | safe }}

    {% if til.data.link %}
      <p>
        <a href="{{  til.data.link }}" rel="noopener">
          {{  til.data.link }}
        </a>
      </p>
    {% endif %}
  </li>
{% endfor %}
</ol>
