
/**
 * matuzo theme for JavaScript, CSS, and HTML
 * Based on the a11y-dark theme: https://github.com/PrismJS/prism-themes/blob/master/themes/prism-a11y-dark.css
 * @author matuzo
 */

 code[class*='language-'],
 pre[class*='language-'] {
   background: none;
   color: rgb(239, 239, 239);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1rem;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
   line-height: 1.5;
   -moz-tab-size: 8;
   -o-tab-size: 8;
   tab-size: 8;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
 }
 
 /* Code blocks */
 pre[class*='language-'] {
   border-left: 2rem solid hsl(186, 56%, 48%);
   margin: 2.25rem 0;
   overflow: auto;
   padding: 2rem;
 }

 figure pre[class*='language-'] {
  margin-bottom: 0;
 }

 figure pre[class*='language-'] + figcaption {
  margin-top: 0;
 }

 h3 + pre[class*="language-"] {
  margin-top: 0;
 }
 
 h4 + pre[class*='language-'] {
   margin-top: 1rem;
 }
 
 pre[class*='language-css'] {
   border-left-color: rgb(128, 210, 219);
 }
 
 :not(pre) > code[class*='language-'],
 pre[class*='language-'] {
   background: rgb(21, 58, 81);
 }
 
 /* Inline code */
 :not(pre) > code[class*='language-'] {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #d4d0ab;
 }
 
 .token.punctuation {
   color: rgb(239, 239, 239);
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: rgb(128, 210, 219);
 }
 
 .token.boolean,
 .token.number {
   color: rgb(128, 210, 219);
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: rgb(247, 132, 145);
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: rgb(128, 210, 219);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function {
   color: #ffd700;
 }
 
 .token.keyword {
   color: rgb(128, 210, 219);
 }
 
 .token.regex,
 .token.important {
   color: #ffd700;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 @media screen and (-ms-high-contrast: active) {
   code[class*='language-'],
   pre[class*='language-'] {
     color: windowText;
     background: window;
   }
 
   :not(pre) > code[class*='language-'],
   pre[class*='language-'] {
     background: window;
   }
 
   .token.important {
     background: highlight;
     color: window;
     font-weight: normal;
   }
 
   .token.atrule,
   .token.attr-value,
   .token.function,
   .token.keyword,
   .token.operator,
   .token.selector {
     font-weight: bold;
   }
 
   .token.attr-value,
   .token.comment,
   .token.doctype,
   .token.function,
   .token.keyword,
   .token.operator,
   .token.property,
   .token.string {
     color: highlight;
   }
 
   .token.attr-value,
   .token.url {
     font-weight: normal;
   }
 }