@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  left: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1px;
}

@mixin link {
  &,
  &:link,
  &:visited {
    @content;
  }
}

@mixin link-active {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin underline($size, $color) {
  box-shadow: 0 $size 0 0 $color;  
}

@mixin link-focus($color: $c-sec, $offset: 0.5rem) {
  &:focus {
    outline: none;
  }
  
  &.focus-visible {
    box-shadow: none;
    outline: 6px solid $color;
    outline-offset: $offset;
  }
}
