// Colors

$c-prim: rgb(28, 78, 108);
$c-prim-dark: rgb(21, 58, 81);
$c-light: rgb(239, 239, 239);
$c-sec: rgb(242, 60, 80);
$c-sec-dark: rgb(202, 48, 65);
$c-highlight: rgb(54, 177, 191);
$c-highlight-light: rgb(128, 210, 219);

// Sizes

$base-line: 1.6;
$spacing: $base-line * 2.5rem;
$site-corner: 1rem;
$site-min-height: 590px;

// Z-indices

$z-site: 1000;

// Breakpoints

$mq-breakpoints: (
    xs: 320px,
    s: 410px,
    m: 480px,
    l: 768px,
    xl: 1024px,
    wide: 1300px
);



