.post-list {
  &__item {
    display: -ms-grid;
    justify-items: start;
    -ms-grid-columns: $post-list-image-size auto;
    -ms-grid-rows: auto auto;
    max-width: 100%;
  }

  &__image {
    float: left;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  &__link {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
  }

  &__header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  &__teaser {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 2;
  }

  &__date {
    display: block;
    min-height: $post-list-image-size;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-align: start;
  }
}
