.post-list {
  @include list-reset;
  @include box-list-theme('matuzo', $c-highlight, $c-prim-dark);
  @include box-list-theme('a-list-apart', $theme-a-list-apart-bg , $theme-a-list-apart-color);
  @include box-list-theme('smashing-magazine ', $theme-smashing-magazine-bg , $theme-smashing-magazine-color);
  @include box-list-theme(
    'css-tricks ',
    $theme-css-tricks-bg,
    $theme-css-tricks-color,
    $theme-css-tricks-color2
  );
  @include box-list-theme('medium ', $theme-medium-bg, $theme-medium-color);
  @include box-list-theme('24a11y ', $theme-24a11y-bg, $theme-24a11y-color);

  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing;

  &__item {
    display: grid;
    justify-items: start;
    grid-gap: 0.5rem;
    grid-template-columns: $post-list-image-size 1fr;
    margin-bottom: $spacing / 1.5;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    align-items: center;
    box-shadow: $post-list-item-shadow;
    display: flex;
    height: $post-list-image-size;
    padding: 0.5rem;
    width: $post-list-image-size;

    img {
      display: block;
      max-height: 100%;
    }
  }

  $post-list-link: '';

  &__link {
    $post-list-link: &;

    box-shadow: $post-list-item-shadow;
    display: block;
    grid-column: 1 / -1;
    z-index: 1;

    &::before {
      content: '';
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    @include link {
      text-decoration: none;
    }

    @include link-focus(currentColor, 0);
  }

  &__heading {
    font-size: 2.6rem;
    margin: 0;
    padding: 0 1rem;
    transform-origin: left center;
    transition: transform 0.3s;

    #{$post-list-link}:hover &,
    #{$post-list-link}:focus & {
      position: static;
      transform: var(--scaling);
    }
  }

  &__date {
    align-items: center;
    box-shadow: $post-list-item-shadow;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
  }
}
