@mixin box-list-theme($theme, $bg, $color, $color2: '') {
  &__heading--#{$theme} {
    background: $bg;
  }

  &__heading-inner--#{$theme} {
    @if $color2 != '' {
      @supports (-webkit-text-fill-color: rgba(0, 0, 0, 0)) {
        background: linear-gradient(to right, $color, $color2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__link--#{$theme} {
    @include link {
      color: $color;
    }
  }

  &__date--#{$theme} {
    background-color: $bg;
    color: $color;
  }

  &__image--#{$theme} {
    background-color: $bg;
  }
}

$post-list-image-size: 3.2rem;
$post-list-item-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.1);

.post-list {
  --scaling: scale(1);

  @include mq(xl) {
    --scaling: scale(1.1);
  }
}
