<ul class="post-list">
{% for post in collections.blog.slice(0, max) %}
  <li class="post-list__item post-list__item--{{ post.data.publication | stringify | slug }}">
    <a href="{{ post.data.url }}" class="post-list__link post-list__link--{{ post.data.publication | stringify | slug }}">
      <h3 class="post-list__heading post-list__heading--{{ post.data.publication | stringify | slug }}">
        <span class="post-list__heading-inner post-list__heading-inner--{{ post.data.publication | stringify | slug }}">
          {{ post.data.title }}
        </span>
      </h3>
    </a>

    {% for pub in collections.publications %}
      {% if post.data.publication == pub.data.title %}
        <div class="post-list__image post-list__image--{{ post.data.publication | stringify | slug }}">
          <img src="{{ pub.data.logo }}" alt="{{ pub.data.title }}" />
        </div>
      {% endif %}
    {% endfor %} 

   <time class="post-list__date post-list__date--{{ post.data.publication | stringify | slug }}">
      {{ post.data.date|readableDate }}
    </time> 
  </li>
{% endfor %}
</ul>
