.page-title {
  font-size: 2.4rem;
  // TODO: BP
  // font-size: 2.6rem;
  line-height: 1;
  text-transform: uppercase;

  &__text {
    border-bottom: 0.8rem solid $c-primary;
    display: inline-block;
    padding-bottom: 1rem;
   
    @include link {
      color: $c-primary;
      text-decoration: none;
    }
  }
}
