---
layout: layouts/page.njk
title: 404 - Page not found
pagetitle: 404
description: Page doesn't exist :(
permalink: /404/index.html
---

<div class="rich-text">
  <p>I'm sorry you've landed on a page that doesn't seem to exist.</p>

  <p>That sucks but it isn't so bad because instead you can checkout my <a href="/blog">blog</a> or get in touch with me on <a href="{{ metadata.author.twitter }}" rel="noopener">twitter</a>.</p>
</div>
