---
layout: layouts/page.njk
title: About me
description: My name is Manuel Matuzovic and I'm a professional web developer since 2008 and a freelancer since 2010. I'm specialized in HTML, accessibility, and CSS layout and architecture.
tags:
  - nav
navtitle: About me
permalink: /about-me/index.html
date: 1987-01-04
---

<div class="rich-text">
  <p>My name is Manuel Matuzovic and I'm a professional web developer since 2008 and a freelancer since 2010. I'm specialized in <strong>HTML</strong>, <strong>accessibility</strong>, and <strong>CSS layout and architecture</strong>.<br />
  Some of my current clients are <a href="http://www.nousdigital.net/en/" rel="noopener">NOUS</a>, <a href="https://aqario.com/" rel="noopener">aqario</a>, and <a href="https://www.zensations.at/" rel="noopener">zensations</a>.<p>

  <h2 class="h2">Writing and speaking</h2>

  <p>I write about HTML and CSS on my personal site and I've also published several articles on websites like <a href="https://www.smashingmagazine.com/" rel="noopener">Smashing Magazine</a>, <a href="https://css-tricks.com/" rel="noopener">CSS-Tricks</a>, and <a href="https://alistapart.com" rel="noopener">A List Apart</a>. I also find joy in speaking at meetups and conferences, which I've done quite often in 2017 and 2018.</p>

  <p>Besides writing fast, scalable, and accessible frontends, I'm a consultant and I teach HTML and CSS. I do in-house workshops and I'm a lecturer at <a href="https://www.sae.edu/" rel="noopener">SAE Institute Vienna</a>, <a href="https://zid.univie.ac.at/it-services-des-zid/studium-lehre-forschung-it-kurse/" rel="noopener">ZID Vienna</a>, and <a href="https://www.fh-salzburg.ac.at/
" rel="noopener">FH Salzburg</a>.<p>

  <h2 class="h2">Get in touch</h2>

  <p>Summarizing, I love the web and especially frontend development. ❤️</p>

  <p>If you want to work with me, please contact me via <a href="mailto:manuel@matuzo.at">email</a> or find me on <a href="https://twitter.com/mmatuzo" rel="noopener">twitter</a>. I'd be happy to get to know you!</p>
</div>
