---
layout: layouts/base.njk
title: Bookmarks
tags:
  - nav
navtitle: Bookmarks
permalink: /bookmarks/index.html
---
<p>Articles and videos I've enjoyed reading or watching.</p>
{% for day, ressources in collections.bookmarks | reverse | groupby("date") %}
  <h2>{{ day|readableDate }}</h2>
  
  {% for res in ressources %}
    <h3>
      <a href="{{ res.data.link }}">{{ res.data.title }}</a>
    </h3>
  {% endfor %}
{% endfor %}
