---
layout: layouts/base.njk
title: Speaking
tags:
  - nav
navtitle: Speaking
permalink: /speaking/index.html
date: 1987-01-02
---

<h2>Upcoming talks</h2>

{% set collection = collections.speaking_future %}
{% include "components/speaking.njk" %}


<h2>Past talks</h2>

{% set collection = collections.speaking_past %}
{% include "components/speaking.njk" %}
