---
layout: layouts/base.njk
title: Speaking
navtitle: Speaking
permalink: /speaking/index.html
date: 1987-01-02
renderData: 
  title_classes: 'page-grid__heading'
  content_classes: 'page-grid'
---

{% set collection = collections.speaking_future %}

{% if collection|length %}
  <h2 class="page-heading page-grid__subheading">Upcoming talks</h2>
  {% include "components/speaking.njk" %}
{% endif %}

{% set collection = collections.speaking_past %}

{% if collection|length %}
  <h2 class="page-heading page-grid__subheading">Past talks</h2>
  {% include "components/speaking.njk" %}
{% endif %}
