---
layout: layouts/page.njk
title: TIL (Today I learned)
description: My personal blog. Nowadays I focus a lot on accessibility but I also write about CSS layout, architecure, and performance.
tags:
  - nav
navtitle: TIL
permalink: /TIL/index.html
date: 1987-01-01
---

<ul class="image-list">
{% for til in collections.til|reverse %}
  <li class="image-list__item">
    <h2 class="image-list__title">
      <strong class="image-list__title-inner">TIL #{{ loop.index }}</strong><br />{{ til.data.title }}
    </h2>
    {% if til.data.image %}
      {% if til.data.link %}
        <a href="{{ til.data.link }}" rel="noopener" class="image-list__link">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ metadata.cloudinary }}/w_440/{{til.data.image}}" alt="" class="image-list__image"/>
        </a>
      {% endif %}
    {% endif %}
  </li>
{% endfor %}
</ul>
