.h1 {
  --h1-font-size: 3rem;
  --padding: #{$spacing / 4 $spacing / 2};

  @include mq(l) {
    --h1-font-size: 3.6rem;
    --padding: #{$spacing / 4 $spacing / 1.5};
  }

  @include mq(xl) {
    --h1-font-size: 5rem;
    --padding: #{$spacing / 4 $spacing};
  }

  @include mq(xl) {
    --h1-font-size: 5rem;
  }

  @include mq(xwide) {
    --h1-font-size: 7rem;

    &--inline {
      --h1-font-size: 5rem;
    }
  }
}

h2 {
  --h2-font-size: 2.4rem;

  @include mq(l) {
    --h2-font-size: 2.8rem;
  }

  @include mq(xl) {
    --h2-font-size: 3.4rem;
  }
}

h3 {
  --h3-font-size: 2rem;

  @include mq(l) {
    --h3-font-size: 2.4rem;
  }

  @include mq(xl) {
    --h3-font-size: 2.8rem;
  }
}
