@mixin heading-2 {
  align-items: center;
  display: flex;
  font-size: var(--h2-font-size);
  line-height: 1;

  &::before {
    background: $c-highlight-light;
    content: '';
    display: block;
    flex-shrink: 0;
    height: $spacing / 3;
    margin-right: $spacing / 4;
    width: $spacing / 2;
  }
}


.h1 {
  display: inline-block;
  font-size: var(--h1-font-size);
  line-height: 1.4;
  margin: 0 0 $spacing;
  padding: var(--padding);
  position: relative;

  $size: $spacing / 3;

  &::after,
  &::before {
    content: '';
    display: block;
    width: $size;
    height: $size;
    border-style: solid;
    position: absolute;
  }

  &::before {
    left: 0;
    bottom: 0;
    width: $size * 2;
    border: none;
    background: rgb(242, 60, 80);
  }

  &::after {
    border-width: $size $size 0 0;
    border-color: $c-highlight;
    top: 0;
    right: 0;
  }
}

.h2 {
  @include heading-2;
}


h3 {
  font-size: var(--h3-font-size);
}
