.site {
  font-size: 62.5%;
  padding: var(--site-padding);
  height: 100%;

  &__body {
    background-color: $c-light;
    color: $c-prim;
    display: var(--body-layout);
    flex-direction: column;
    font-family: "Inria Sans", 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, sans-serif;
    font-size: var(--font-size);
    grid-template-columns: -moz-max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      'header content'
      'footer footer';
    grid-template-rows: 1fr auto;
    grid-gap: var(--body-gap);
    line-height: $base-line;
    margin: 0 auto;
    max-width: var(--body-width);
    min-height: 100%;
  }

  &__square {
    --square-positioning: fixed;
    position: var(--square-positioning);
    z-index: $z-site;

    &--tl {
      left: $site-corner;
      top: $site-corner;
    }

    &--tr {
      right: $site-corner;
      top: $site-corner;
    }

    &--bl {
      bottom: $site-corner;
      left: $site-corner;
    }

    &--br {
      bottom: $site-corner;
      right: $site-corner;
    }
  }

  &__header {
    padding: var(--header-padding);

    .home & {
      height: var(--header-height);
      padding-bottom: 0;
    }

    align-items: var(--header-align);
    display: var(--header-layout);
    flex-wrap: wrap;
    justify-content: var(--header-justify);
    grid-area: header;
    margin: var(--header-margin);
    text-align: var(--header-text-align);
  }

  &__logo {
    flex-basis: var(--logo-width);
    margin: var(--logo-margin);
  }

  &__content {
    padding: var(--content-padding);
    min-width: 0;
    transition: opacity 1s;

    &--hidden {
      opacity: 0;
    }
  }

  &__footer {
    align-items: flex-end;
    color: $c-sec-dark;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    grid-area: footer;
    justify-content: space-between;
    line-height: 1;
    margin-top: auto;
    padding: var(--footer-padding);
  }

  &__separator {
    display: var(--separator-display);
    margin-top: $spacing;
    max-width: var(--separator-width);

    .home & {
      margin-top: var(--header-separator-margin);
    }
  }
}
