---
permalink: /feed_til.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }} - Today I Learned</title>
  <subtitle>A feed of things I’ve learned about web development.</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blogFiltered | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.til|reverse %}
      {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
      <entry>
        <title>TIL: {{ post.data.title }}</title>
        <link href="{{ absolutePostUrl }}"/>
        <updated>{{ post.date | rssDate }}</updated>
        <id>{{ absolutePostUrl }}</id>
        <content type="html">
{% escape %}
        {% if post.data.link %}
        <a href="{{ post.data.link }}" rel="noopener" >
        {% endif %}
          {% if post.data.image %}
            <img src="{{ metadata.cloudinary }}/w_440/{{post.data.image}}" alt="{% if post.data.link %}TIL # {{ loop.revindex }}  demo or article{% endif %}" class="image-list__image lazy"/>
          {% endif %}
        {% if post.data.link %}
        </a>

        <a href="{{ post.data.link }}" rel="noopener">{{ post.data.link }}</a>
        {% endif %}
{% endescape %}
        {%- set subject = "Comment on “" ~ post.data.title ~ "”" -%}
        {%- set message -%}
        <p>My blog doesn't support comments yet, but you can reply via <a href="mailto:blog@matuzo.at?subject={{ subject | urlencode}}">blog@matuzo.at</a>.</p>    
        {%- endset -%}
        {{- message | e -}}
        </content>
      </entry>
  {%- endfor %}
</feed>
