---
layout: 'layouts/base.njk'
description: I'm a frontend developer from Vienna, specialized in HTML, accessibility, and CSS layout and architecture.
title: 'Manuel Matuzovic'
tags:
  - nav
navtitle: Home
---
<section>
  <h1>
    {{ title or metadata.title }}
  </h1>

  <p>Hi! I'm a frontend developer from Vienna. I'm specialized in <strong>HTML</strong>, <strong>accessibility</strong>, and <strong>CSS layout and architecture</strong>.</p>
  <p>If you want to get in touch, write me an <a href="mailto:manuel@matuzo.at" rel="me">email</a> or find me on <a href="https://front-end.social/@matuzo" rel="noopener me">Mastodon</a>.</p>
</section>

<section>
  <h2>
    Recent posts
  </h2>

  {% set max = 10 %}
  {% set posts = collections.posts | reverse %}
  {% include 'components/blog-posts.njk' %}

  <a href="/blog">
    More blog posts
  </a>
</section>
