---
permalink: johncandytwitter.txt
---
div[aria-label="Image"]:not(:hover) {
	background-image: url(https://pbs.twimg.com/media/E36EgFXX0AAUIS5?format=jpg&name=medium);
    background-position: center;
    background-size: cover;
}

div[aria-label="Image"]:not(:hover) div {
    background: none !important;
}

div[aria-label="Image"]:not(:hover) img {
   opacity: 0;
}
