<!DOCTYPE html>
<html class="site no-js js-site" lang="en" id="top" {% if title %}data-theme="{{ title  | slug }}"{% endif %}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if title %}{{ title }} - {% endif %}{{ metadata.title }}</title>

    <meta name="description" content="{{ description }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#36b1bf">
    <meta name="msapplication-TileColor" content="#efefef">
    <meta name="theme-color" content="#36b1bf">

    <link rel="stylesheet" href="{{ '/static/min/main.min.css' | url | cacheBuster }}" />
  </head>

  <body class="site__body {{ renderData.page_classes }}">
    <canvas class="site__square site__square--tl square-canvas js-sq-tl" hidden aria-hidden="true"></canvas>
    <canvas class="site__square site__square--tr square-canvas js-sq-tr" hidden aria-hidden="true"></canvas>
    <canvas class="site__square site__square--br square-canvas js-sq-br" hidden aria-hidden="true"></canvas>
    <canvas class="site__square site__square--bl square-canvas js-sq-bl" hidden aria-hidden="true"></canvas>

    {% include 'header.njk' %}

    <main class="site__content page js-site-content {{ renderData.content_classes }}">
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <script src="{{ '/static/min/main.min.js' | url | cacheBuster }}"></script>
  </body>
</html>
