<!DOCTYPE html>
<html class="site no-js" lang="en" id="top">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if title %}{{ title }} - {% endif %}{{ metadata.title }}</title>

    <meta name="description" content="{{ description }}">

    <link rel="stylesheet" href="/static/min/main.css" />
  </head>

  <body class="site__body {{ renderData.page_classes }}">
    <canvas class="site__square site__square--tl square-canvas js-sq-tl" hidden aria-hidden></canvas>
    <canvas class="site__square site__square--tr square-canvas js-sq-tr" hidden aria-hidden></canvas>
    <canvas class="site__square site__square--br square-canvas js-sq-br" hidden aria-hidden></canvas>
    <canvas class="site__square site__square--bl square-canvas js-sq-bl" hidden aria-hidden></canvas>

    {% include 'header.njk' %}

    <main class="site__content page {{ renderData.content_classes }}">
      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}

    <script src="/static/min/main.js"></script>
  </body>
</html>
