<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>

  <body class="site">
    {% include 'header.njk' %}

    <div class="page">
    <main  class="page__content">
      <h1 class="page__title">
        <a href="/" class="page__title__link">
        {{ title or metadata.title }}
        </a>
      </h1>

      {{ content | safe }}
    </main>

    {% include 'footer.njk' %}
    </div>
  </body>
</html>
