---
layout: layouts/base.njk
---

<div class="blog__content rich-text">
  <h1 class="h1">{{ title }}</h1>

  <p>
    posted on <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</a>
  </p>

  {{ content | safe }}
</div>
