.visually-hidden {
  @include hide-visually;
}

.list-reset {
  @include list-reset;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.video-wrapper {
  height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	position: relative;
  
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
