@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  left: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 1px;
}

@mixin link {
  &,
  &:link,
  &:visited {
    @content;
  }
}

@mixin link-active {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin underline($size, $color) {
  box-shadow: 0 $size 0 0 $color;  
}

@mixin link-focus($color: $c-sec, $offset: 0.5rem) {
  &:focus {
    outline: none;
  }
  
  &.focus-visible {
    box-shadow: none;
    outline: 6px solid $color;
    outline-offset: $offset;
  }
}

// Misc

@mixin logo-shadow($bg: $c-light, $border: $c-highlight-light) {
  &.focus-visible {
    box-shadow: 0 -20px 0 0 $bg,
                0 -40px 0 0 $border,
                0 15px 0 0 $bg, 
                0 35px 0 0 $border;
  }
}

@mixin corner($padding, $size) {
  padding: $padding;
  position: relative;
  
  &::after,
  &::before {
    content: "";
    display: block;
    height: $size;
    position: absolute;
    width: $size;
  }

  &::after {
    background: $c-highlight;
    bottom: 0;
    height: $padding;
    right: 0;
  }
  
  &::before {
    background: $c-sec;
    left: 0;
    top: 0;
  }

  @include mq(xl) {
    padding: $padding * 1.5;

    &::after,
    &::before {
      height: $size * 1.5;
      width: $size * 1.5;
    }

    &::after {
      height: $padding * 1.5;
    }
  }
}
