// Colors

$c-prim: rgb(28, 78, 108);
$c-prim-dark: rgb(21, 58, 81);
$c-light: rgb(239, 239, 239);
$c-sec: rgb(242, 60, 80);
$c-sec-dark: rgb(202, 48, 65);
$c-highlight: hsl(186, 56%, 48%);
$c-highlight-light: rgb(128, 210, 219);

// Themes
$theme-css-tricks-bg: rgb(16, 14, 23);
$theme-css-tricks-color: rgb(255, 138, 0);
$theme-css-tricks-color2: rgb(218, 27, 95);

$theme-24a11y-bg: rgb(2, 117, 216);
$theme-24a11y-color: #ffffff;

$theme-medium-bg: rgb(41, 41, 41);
$theme-medium-color: #ffffff;

$theme-smashing-magazine-bg: #d33a2c;
$theme-smashing-magazine-color: #ffffff;

$theme-a-list-apart-bg: #ffffff;
$theme-a-list-apart-color: #000000;

$theme-dark-grid-bg: #070707;

// Sizes

$base-line: 1.7;
$spacing: $base-line * 2.5rem;
$site-corner: 1rem;
$site-min-height: 590px;
$content-padding: (($spacing / 2) + $site-corner);
$content-padding-large: ($spacing + $site-corner);
$content-padding-xlarge: ($spacing * 2);
$blog-post-width: 81rem;

// Z-indices

$z-site: 1000;

// Breakpoints

$mq-breakpoints: (
    xs: 320px,
    s: 410px,
    m: 480px,
    l: 768px,
    xl: 1024px,
    wide: 1300px,
    xwide: 1550px
);
